<% if options %>
  <ul class="menu">
  <% options.each do |option| %>
    <li<%=" class='#{option[:class]}'" if option[:class] %>><%= option[:link] %>
    <%= content_tag 'div', option[:count], :class => "pending-counter" if option[:count] %>
    </li>
  <% end %>
</ul>
<% end %>

