@font-face {
  font-family: 'ClarendonLTBold';
  src: url('../fonts/ClarendonLTBold.eot');
  src: local("☺"), url('../fonts/ClarendonLTBold.woff') format("woff"), url('../fonts/ClarendonLTBold.ttf') format("truetype"), url('../fonts/ClarendonLTBold.svg') format("svg");
  font-weight: bold;
  font-style: bold; }


@font-face {
  font-family: 'ClarendonLTMedium';
  src: url('../fonts/ClarendonLTMedium.eot');
  src: local("☺"), url('../fonts/ClarendonLTMedium.woff') format("woff"), url('../fonts/ClarendonLTMedium.ttf') format("truetype"), url('../fonts/ClarendonLTMedium.svg') format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'ClarendonLTLight';
  src: url('../fonts/ClarendonLTLight.eot');
  src: local("☺"), url('../fonts/ClarendonLTLight.woff') format("woff"), url('../fonts/ClarendonLTLight.ttf') format("truetype"), url('../fonts/ClarendonLTLight.svg') format("svg");
  font-weight: light;
  font-style: light; }

