@import "compass/css3";
@import "helpers";

body {
  background: $white;
}

#container {
  background: #F2F5F8;
}

header {
  .content, nav .content {
    width: 996px;
    margin: auto;
  }
}

#main .content, footer .content {
  width: 996px;
  margin: auto;
}

#main.content {
  margin: 60px;
}

/* =============================================================================
Basics
========================================================================== */

blockquote { width:574px; padding:0; margin:0; font-size:31px; color:$dark_blue; font-family: "ClarendonLTMedium", Georgia, serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li { margin: 0; padding: 0; }
}

a {
  text-decoration: none;
  color: $link_color;

  &:active, &:hover, &:visited {
    text-decoration: none;
    color: $link_color;
  }

  &.left_arrow {
    background: url('/images/icons/arrow_left.png') no-repeat left 7px;
    padding-left: 12px;
  }

  &.right_arrow {
    background: url('/images/icons/arrow_right.png') no-repeat right 7px;
    padding-right: 12px;
  }

  &.down_arrow {
    background: url('/images/icons/arrow_down.png') no-repeat left 7px;
    padding-left: 12px;
  }
}

p { font-family: "Helvetica", sans-serif; font-size: 17px; font-weight: 300; line-height: 21px; color: #6C777F; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

h1 { letter-spacing: -1px; font-family: "ClarendonLTMedium", Georgia, serif; }
h2 { letter-spacing: -1px; }

article .right h4 { margin-bottom:14px; font-size:12px; font-weight:bold; color:$dark_blue; text-transform:uppercase;}

article .inner {
  header h2, h2 {
    font-family: "ClarendonLTMedium", Georgia, serif;
  }
}

#lock_screen { position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; opacity: .5; background: #000; z-index: 99; }

span {
  &.answered     { color: #00AA54; }
  &.not_answered { color: #FF3300; }
  &.positive     { color: #FF0066; font-style: italic; }
  &.agree        { color: $agree_color; }
  &.against      { color: $against_color; }
}

/* =============================================================================
Header
========================================================================== */

header {
  padding-top: 44px;
  margin-bottom: 53px;
  background: $white;

  .content {
    clear: both;
    overflow: hidden;
    //position: relative;
    height: 74px;

    .top_nav {
      position:relative;
      clear:both;
      overflow:hidden;

      .logo { float:left; left: 0; top: 0; position: relative; display: block; }
      .net_logo { float: right;right:0; position:absolute; display: block; }

      ul.user_options {
        right: 0;
        bottom:0;
        float:right;
        position: absolute;
        clear:both;
        overflow:hidden;

        li {
          float: left;
          font-size: 13px;

          &:after { content: "|"; padding: 0 5px; }
          &.last, &:last-child:after { content: ""; padding: 0; }
          a { color: #333; text-transform: lowercase; }
        }
      }
    }
  }

  nav {
    height: 55px;
    background: url('/images/nav_bkg.png') repeat-x;

    .content {
      padding: 10px 0 0 0;
      span.currently_viewing {
        float: left;
        margin: 10px 10px 0 0;
        font-size: 15px;
        font-weight: bold;
        color: #19597A;
        text-shadow: 1px 1px 1px #2F9CD8;
      }
      form {
        float: left;
        width: 290px;
        .input_field {
          position:relative;

          span.holder { position: absolute; left: 11px; bottom: 8px; width: 200px; font-size:15px; font-weight:normal; color: #D7DADD; text-shadow:none; }

          input {
            &[type="text"] {
              height: 33px;
              padding: 0 36px 0 9px;
              width: 245px;
              font-size: 15px;
              border: 1px solid #13587f;

              @include border-radius(5px);
              @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.2));
              outline: none;
            }
            &[type="submit"] {
              right: 10px;
              top: 10px;
              position: absolute;
              width: 14px;
              height: 14px;
              background: url('/images/icons/magnifier.png') no-repeat;
              border: 0;
              z-index: 100;
            }
          }
        }
      }

      .sign_out { float: right; }

      ul {
        &.auth {
          float: right;
          li {
            position: relative;
            margin: 0 0 0 10px;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
                  *display: inline;

                  .pending-counter { right: 5px; }

                  a {
                    display: inline-block;
                    font-size: 15px;
                    color: $white;

                    &.twitter { background: url('/images/icons/twitter.png') no-repeat; text-indent: -999em; position: relative; top: 5px; }
                    &.facebook { background: url('/images/icons/facebook.png') no-repeat; text-indent: -999em; position: relative; top: 5px; }
                  }
                }
              }
              &.areas {
                float: left;
                margin-right: 10px;
                padding: 7px 14px;
                color: $white;
                font-size: 15px;
                text-shadow: 0px 1px 1px #0F4768;
                border: 1px solid #13587F;

                @include border-radius(5px);
                @include box-shadow(0 1px 1px 0 #369acf);

                background: #3396cd;

                background: -moz-linear-gradient(top, #3396cd 0%, #2080b5 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3396cd), color-stop(100%, #2080b5));
                background: -webkit-linear-gradient(top, #3396cd 0%, #2080b5 100%);
                background: -o-linear-gradient(top, #3396cd 0%, #2080b5 100%);
                background: -ms-linear-gradient(top, #3396cd 0%, #2080b5 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3396cd', endColorstr='#2080b5',GradientType=0 );
                background: linear-gradient(top, #3396cd 0%, #2080b5 100%);
              }
            }
          }
        }
      }


      /* =============================================================================
      Article
      ========================================================================== */

#container article {
  position: relative;
  width: 996px;
  margin: 0 auto 45px auto;

  .t, .f { height: 10px; width: 100%; position: absolute; background: url('/images/box_simple_bkg.png') no-repeat; }
  .t { top: -10px; background-position: 0 0; }
  .f { bottom: -10px; background-position: 0 -10px; }
  .inner {
    clear: both;
    overflow: hidden;
    width: 928px;
    padding: 15px 31px 35px 35px;
    background: $white;
    border-left: 1px solid #b4bdc4;
    border-right: 1px solid #b4bdc4;
    p { margin-bottom: 20px; color: $dark_blue; }
    h1 { color: $dark_blue; }
  }
}

article .inner { h2, h3 { color: $dark_blue; } }

#container article.static .inner header h3 {text-transform:none; font-size:19px; font-family: "Helvetica", sans-serif; font-weight:normal;}
#container article {
  .inner {
    .left h1 { margin-bottom: 10px; line-height: 41px; }

    header p.position { padding: 0; margin: 0; font-size:17px; color:$standard_gray; }

    h1 { margin-bottom: 5px; font-size: 41px; font-weight: 300; }
    h2 { margin-bottom: 5px; font-size: 31px; line-height:31px; font-weight: 300; }
    h3 { margin-bottom: 7px; font-size: 12px; font-weight: bold; text-transform: uppercase; }

    .left { position: relative; float: left; left: 0; width: 605px; }
    .right { position: none; margin-left: 29px; float: left; width: 291px; }

    header {
      clear: both;
      overflow: hidden;
      height: auto;
      padding: 0;
      margin: 0 0 25px 0;
      background: none;

      h1, h2 { margin: 0; }
      h3 { font-size: 17px; }
      h2 { font-size: 31px; line-height:normal; }
    }

  }

  &.with_footer {
    .inner { width: 933px; padding: 15px 31px 35px 30px; }
    .f { bottom: -10px; background-position: 0 -22px; }
    footer {
      padding: 0;
      border: none;
      clear: both;
      border-left: 1px solid #b4bdc4;
      border-right: 1px solid #b4bdc4;
      background: #f8f8f9;

      .inner {
        clear: both;
        overflow: hidden;
        padding: 20px 0 15px 35px;
        width: 959px;
        margin: 0;
        background: none;
        border: 0;

        h3 { margin: 0 0 5px 0; padding: 0; }
        a { font-size: 15px; }
      }
      .right {
        position:relative;
        right: 36px;
        text-align: right;

        a { display:block; clear:both; }
      }
      .left {
        a { display:block; clear:both; }
      }
    }
    .separator { height: 2px; background: url('/images/box_simple_bkg.png') repeat-x; background-position: 0 -36px; }
  }
  &.with_sidebar {
    position: relative;
    .t, .f { height: 10px; width: 100%; position: absolute; background: url('/images/box_sidebar_bkg.png') no-repeat; }
    .t { top: -10px; background-position: right 0; }
    .f { bottom: -10px; background-position: right bottom; }
    .inner {
      clear: both;
      overflow: hidden;
      width: 930px;
      background: url('/images/box_sidebar_bkg.png') repeat-y;
      background-position: 0 0;
      border: none;
      padding: 15px 31px 35px 35px;
      .left { position: relative; float: left; left: 0; width: 605px; }
      .right { position: relative; float: left; left: 30px; width: 262px; }
    }
  }
  &.mini {
    &.with_icon .inner, &.with_footer.with_icon .inner {
      padding-top: 35px;
      padding-bottom: 10px;
    }
    &.with_icon {
      footer .inner, &.with_footer footer .inner {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      .inner {
        .content p {
          line-height: 20px;
        }
        .icon {
          float: left;
          margin: 0 18px 0 0;
          background: url('/images/icons/ok_ball.png') no-repeat;
          width: 76px;
          height: 80px;
        }
      }
    }
  }
  &.profile .inner {
    h1 { font-size: 41px; }
    .left {
      h3 { margin-bottom: 5px; }
      p { width: 292px; display: block-inline; margin: 0 0 10px 0; font-size: 15px; }
    }
  }
  &.micro {
    width: 390px;
    margin: 0 auto 40px auto;
    .inner {
      header {
        margin: 0;
      }
      .content p {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 15px;
        color: $standard_gray;
      }
    }
    .t, .f {
      height: 10px;
      background: url('/images/box_micro_bkg.png') no-repeat;
    }
    .t {
      top: -10px;
      background-position: 0 0;
    }
    .f {
      bottom: -10px;
      background-position: 0 -11px;
    }
    .inner {
      width: 318px;
      padding: 16px 34px 35px 38px;
      background: url('/images/box_micro_bkg.png') repeat-y -391px 0;
      border: none;
      .content {
        margin: 0;
        width: 316px;
      }
    }
    &.with_footer {
      margin-bottom: 40px;
      .inner {
        width: 324px;
        padding: 16px 34px 9px 32px;
      }
      .f {
        bottom: -10px;
        background-position: 0 -22px;
      }
      footer {
        padding: 0;
        border: none;
        background: none;
        .inner {
          width: 324px;
          padding: 25px 31px 25px 35px;
          background: url('/images/box_micro_bkg.png') repeat-y -782px 0;
          border: none;
        }
      }
      .separator {
        height: 2px;
        background: url('/images/box_micro_bkg.png') repeat-x;
        background-position: 0 -33px;
      }
      footer .inner {
        .left {
          position: relative;
          float: left;
          left: 0;
          width: 50%;
        }
        div.right {
          right: 0;
          margin: 0;
          width: 50%;
        }
      }
    }
  }
  &.mini {
    width: 610px;
    margin: 0 auto 0 auto;
    .inner {
      header {
        margin: 0;
        h2 { line-height:normal; }
      }
      .content p {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 15px;
        color: $standard_gray;
      }
    }
    .t, .f {
      height: 10px;
      background: url('/images/box_mini_bkg.png') no-repeat;
    }
    .t {
      top: -10px;
      background-position: 0 0;
    }
    .f {
      bottom: -10px;
      background-position: 0 -10px;
    }
    .inner {
      width: 544px;
      padding: 15px 31px 35px 35px;
      background: url('/images/box_mini_bkg.png') repeat-y -611px 0;
      border: none;
      .content {
        margin: 3px 0 18px 0px;
        width: 556px;
      }
    }
    &.with_footer {
      margin-bottom: 0;
      .inner {
        width: 549px;
        padding: 15px 31px 15px 30px;
      }
      .f {
        bottom: -10px;
        background-position: 0 -20px;
      }
      footer {
        padding: 0;
        border: none;
        background: none;
        .inner {
          width: 544px;
          padding: 25px 31px 25px 35px;
          background: url('/images/box_mini_bkg.png') repeat-y right 0;
          border: none;
        }
      }
      .separator {
        height: 2px;
        background: url('/images/box_mini_bkg.png') repeat-x;
        background-position: 0 -31px;
      }
    }
  }
  &.popover {
    position: absolute;
    z-index: 1000;
  }
  &.broken-top .t {
    top: -10px;
    background-position: 0 -40px;
  }
  &.broken-bottom .f {
    bottom: -15px;
    height: 15px;
    background-position: 0 -51px;
  }
  &.welcome {
    margin-bottom: 40px;

    .inner {
      width: 933px;
      padding: 15px 31px 5px 30px;

      a.config { float: right; }
      img.avatar { position: relative; float: left; }

      .content {
        position: relative;
        float: left;
        margin: 3px 0 18px 14px;
        width: 851px;

        a  { font-size: 15px; }
        h1 { margin-bottom: 5px; line-height: 40px; }
        p  { margin: 0; padding: 0; line-height: 15px; font-size: 15px; }
      }

      .avatar { float: left; }

      ul.actions {
        float:left;
        margin:10px 0 20px 0;

        li {
          padding:20px;
          background:#F2F7F9;
          width:289px - 40;
          margin-right:16px;

          @include inline-block;
          @include border-radius(4px);

          &.collaborate {width:315px - 40;}
          &.last { margin-right:0; }
          &:last-child { margin-right:0; }

          h3 { font-family: "ClarendonLTMedium", Georgia, serif; text-transform:none; font-weight:normal; color:$dark_blue; font-size:21px; margin-bottom:10px; }
          p { padding:0; margin:0 0 12px 0; font-size:15px; }

          .white_button { float:left; }
        }
      }
    }
  }
}

// Avatars
.avatar {
  display: inline-block;
  position: relative;
  overflow: hidden;

  width: $avatar_normal_size;
  height: $avatar_normal_size;

  @include border-radius(100em);

  &>img { width: $avatar_normal_size; height: $avatar_normal_size; @include border-radius(100em); }
  &.small, &.small>img { width: $avatar_small_size; height: $avatar_small_size; }
  &.medium, &.medium>img { width: $avatar_medium_size; height: $avatar_medium_size; }

  &:before {

    @include box-shadow(inset 2px 2px 5px rgba(0, 0, 0, .1));
    @include border-radius(100em);

    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: -10em;
    border: 10em solid $white;
  }
}

/* Agenda */
#container article.agenda .inner {
  padding: 15px 33px 38px 33px;

  .content {
    width: 929px;

    ul {
      margin: 0;
      padding: 0;

      li.day {
        width: 121px;
        height: 120px;
        float: left;
        margin: 0 2px 2px 0;
        padding: 6px 5px;
        @include border-radius(2px);
        background: #f1f1f1;
        &.today { background: #DFEDF5; }
        &.last { margin-right: 0; }
        &.disabled {
          background: #f1f1f1 url('/images/agenda_disabled_bkg.png') no-repeat;
          h3 {
            opacity: .5;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
          }
        }
      }
    }
  }
}

#container article.agenda {
  .inner .content ul li.day {
    h3 { margin: 0; padding: 5px 0 0 5px; line-height: 20px; font-family: "ClarendonLTMedium", Georgia, serif; font-weight: normal; font-size: 23px; }
    span { padding: 0 0 0 5px; font-size: 15px; color: #bbb; color: rgba(70, 88, 102, 0.3); }
  }

  &.with_footer {
    .inner { width: 928px; }
    footer .right { right: 0; }
  }

  .inner .content ul li.day ul.events {
    margin: 9px 0 0 0;

    li {
      width: 121px;
      height: 22px;
      float: none;
      margin: 0 0 1px 0;
      padding: 0;

      a { display: block; color: $white; font-size: 12px; padding: 4px 7px; text-shadow: 1px 1px 1px #0F4869; background: url('/images/events_sprite.png') no-repeat; background-position: 0 -425px; }

      &.more a { text-shadow: none; font-size: 13px; color: #2C8CC5; text-align: center; background: none; }

      a {
        &.play { background-position: 0 -448px; padding-left: 30px; }
        &:hover { background-position: 0 -471px; }
        &.play:hover { background-position: 0 -494px; padding-left: 30px; }
      }
    }
  }
}

/* -- events */

.map .infowindow,
#container article.agenda .inner .content ul li.day .info {
  display: none;
  position: absolute;
  top: 0;
  width: 224px;
  height: 114px;
  padding: 22px 22px;
  background: url('/images/events_sprite.png') no-repeat;
  z-index: 10;
}

.map .infowindow span.close, #container article.agenda .inner .content ul li.day .info span.close {
  position: absolute;
  top: 13px;
  right: 5px;
  display: block;
  width: 9px;
  height: 8px;
  background: url('/images/icons/close.png') no-repeat;
  cursor: pointer;
}

.map .infowindow.large ul.details, #container article.agenda .inner .content ul li.day .info.large ul.details {
  position: relative;
  bottom: auto;
}

.map .infowindow strong, #container article.agenda .inner .content ul li.day .info strong {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: $dark_blue;
}

.map .infowindow ul.events, #container article.agenda .inner .content ul li.day .info ul.events {
  margin: 0;
}

.map .infowindow ul.events li, #container article.agenda .inner .content ul li.day .info ul.events li {
  width: auto;
  height: auto;
}

.map .infowindow ul li a {
  display: block;
  margin: 0 0 13px 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  color: $link_color;
  background: none;
  text-shadow: none;
}

#container article.agenda .inner .content ul li.day .info {
  a, &.large ul.events li a {
    display: block;
    margin: 0 0 13px 0;
    padding: 0;
    font-weight: bold;
    font-size: 15px;
    color: $link_color;
    background: none;
    text-shadow: none;
  }
}

/* large */

.map .infowindow.large, #container article.agenda .inner .content ul li.day .info.large {
  height: 191px;
  padding: 22px 22px;
  background-position: 0 -164px;
}

.map .infowindow .scroll-pane, #container article.agenda .inner .content ul li.day .info.large .scroll-pane {
  overflow: auto;
  height: 177px;
  width: 235px;
  outline: none;
}

.map .infowindow.large ul.events li {
  margin-bottom: 3px;
}

#container article {
  &.agenda .inner .content ul li.day .info.large ul.events li {
    margin-bottom: 3px;
  }
  .map .infowindow.large ul.events li div.separator, &.agenda .inner .content ul li.day .info.large ul.events li div.separator {
    margin: 6px 0 0 2px;
    height: 17px;
    width: 215px;
    background: url('/images/events_sprite.png') no-repeat 0 -403px;
  }
}

.map .infowindow ul.details, #container article.agenda .inner .content ul li.day .info ul.details {
  position: absolute;
  bottom: 34px;
}

.map .infowindow ul.details li {
  font-size: 13px;
  color: $standard_gray;
  margin-bottom: 0;
}

#container article.agenda .inner .content ul li.day .info {
  ul.details li, &.large ul.details li {
    font-size: 13px;
    color: $standard_gray;
    margin-bottom: 0;
  }
}

.footer.when, span.when, .map .infowindow ul.details li.when, #container article.agenda .inner .content ul li.day .info ul.details li.when {
  padding: 0 0 0 17px;
  background: url('/images/icons/clock.png') no-repeat 0 1px;
}

.footer.where, span.where, ul.locations .footer, .map .infowindow ul.details li.where {
  padding: 0 0 0 17px;
  background: url('/images/maps_sprite.png') no-repeat -51px -65px;
}

#container article {
  &.agenda .inner .content ul li.day .info ul.details li.where {
    padding: 0 0 0 17px;
    background: url('/images/maps_sprite.png') no-repeat -51px -65px;
  }

  &.actions .inner,
  &.proposals .inner,
  &.proposal .inner,
  &.questions .inner,
  &.activity .inner {
    width: 934px;
    padding: 15px 31px 35px 29px;

    .left {
      width: 614px;

      ul {
        li {
          clear: both;
          overflow: hidden;
          margin-bottom: 39px;

          &:last-child { margin:0; }
          &.last { margin:0; }
          .content {
            width: auto;
            float: left;
            width: 535px;

            p {
              font-size: 17px;
              padding: 0;
              margin: 0 0 8px 0;
              line-height: 19px;
              &.excerpt { font-size: 15px; padding: 0; margin: 0 0 12px 0; line-height: 19px; color: $standard_gray; }
            }
          }
          .avatar { float: left; margin: 0 13px 0 0; }
          .content .footer { margin-bottom: 13px; padding-left: 16px; background: url('/images/icons/clock.png') no-repeat left 1px; color: $standard_gray; font-size: 13px; }
        }
      }
    }
  }

  .inner ul li .content .footer a { font-size: 13px; }

  &.actions .inner,
  &.proposal .inner,
  &.proposals .inner,
  &.questions .inner,
  &.activity .inner {
    .left ul li {
      a { color: #2C8CC5; }
      .content .comment-box {
        @include border-radius(5px);
        background: rgba(237, 237, 239, 0.7);

        .avatar {
          margin: 0 9px 0 0;
          &:before { border-color: rgba(237, 237, 239, 0.7); }
        }

        p { line-height: 16px; }
        ul {
          padding: 10px;
          border-bottom: 1px solid $white;
          li {
            margin-bottom: 15px;
            &.previous { padding:0; border:none; display:none; }
          }
        }

        .previous { padding: 10px 13px 10px 13px; border-bottom: 1px solid $white; color: $standard_gray; font-size: 13px; }

        form {
          position: relative;
          padding: 10px 12px 10px 12px;
          border-bottom: 1px solid $white;
          font-size: 13px;

          .input_field {
            height: 33px;
            input[type="text"] {
              position: relative;
              width: 490px;
              height: 31px;
              padding: 0 9px;
              font-size: 13px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              @include border-radius(5px);
              @include box-shadow(inset 0 5px 5px rgba(0, 0, 0, 0.1));
              outline: none;
            }
            span { top: 9px; color: #ccc; }
          }
          input[type="submit"] { position: absolute; top: 13px; right: 17px; color: #FF0066; background: none; height: 30px; border: none; }
        }
        div.previous p { font-size: 13px; }
        ul li {
          font-size: 13px;
          p, a { font-size: 13px; }
        }
      }
    }
    .right {
      ul.selector {
        margin: 0 0 40px 0;
        padding-left: 28px;

        border-left: 1px solid #eaeaea;
        border-left: 1px solid rgba(70, 88, 102, 0.15);
        &.no-margin { margin: 0; }
      }
      .input_field, .white_button { margin-left: 28px; }
      .input_field { margin-bottom: 28px; }
    }
  }
}

/* Article addons */

#container article .inner .content ul.notifications {
  float:left;
  margin:10px 0 20px 0;

  li {
    padding:20px;
    width:289px - 40;
    height:215px - 40;
    margin-right:16px;
    @include inline-block;
    background:#fff;
    border: 1px solid #E2E5E8;
    opacity:.6;
    cursor: pointer;

    @include border-radius(4px);

    @include transition-property(all);
    @include transition-duration(300ms);

    &:hover,
    &.selected {
      opacity:1;
      background:#F2F7F9;
      border: 1px solid #CCCCCC;
      @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
    }

    &.collaborate {width:315px - 40;}
    &.last { margin-right:0; }
    &:last-child { margin-right:0; }

    position:relative;

    .content {
      position:absolute;
      top:125px;
      width:253px;

      strong { display:block; margin: 0 0 7px 0; text-align:center; font-size:17px; color:$dark_blue; }
    }

    p { width:243px; padding:0; margin:0 0 0 0; line-height:16px; font-size:13px; }

    .letter {
      display:block;
      position:absolute;
      width:94px;
      height:58px;
      background:url('/images/icons/letters_sprite.png') no-repeat 0 -25px;
    }

    .letter.minimun { top:45px; left:100px;}

    .letter.basics {
      left:85px;
      width:135px;
      height:82px;
      background:url('/images/icons/letters_sprite.png') no-repeat -102px 1px;
    }

    .letter.all {
      left:60px;
      width:171px;
      height:83px;
      background:url('/images/icons/letters_sprite.png') no-repeat -243px 1px;
    }

    .white_button { float:left; }
  }
}

.agenda_map { position:none; clear: both; overflow: hidden; height:700px; }
.agenda_map .map {opacity:0; top:80px; left:30px; position:absolute; height:700px; width:929px;}
.agenda_map ul.agenda { background:#fff; position:absolute; left:30px; width:929px; }

/* Editable */

a.editable {
  position:absolute;
  right:0px; top:-10px;
  z-index:50;
  display:block;
  width:38px;
  height:38px;
  background:url('/images/box_simple_bkg.png') no-repeat 0 -70px;

  &:hover {
    width:65px;
    height:65px;
    background:url('/images/box_simple_bkg.png') no-repeat 0 -110px;
  }
}

/* Proposals blocks */

#container article .inner .left .proposals {
  clear:both;
  overflow:hidden;
  margin: 0 0 61px 0;

  .proposal {
    float:left;
    width:286px;

    @include border-radius(5px);

    h3 { margin:0; padding: 16px 0 12px 16px; font-size:17px; text-transform: none; }
    &.against {background:#FFF0D9;}
    &.agree {background:#E9F0DE; margin-right:33px;}

    ul {
      padding: 0 16px;

      li {
        background:url('/images/icons/bullet.png') no-repeat 0 7px;
        padding:0 0 8px 7px;
        font-size: 15px;
        color:$standard_gray;
        margin: 0 0 5px 0;
        &.add {
          background:none;
          a { font-size:13px; text-decoration:underline; color:rgba(0,0,0,.3); }
        }
      }
    }
    .footer {
      clear:both; overflow:hidden;
      padding: 16px;
      border-top: 1px solid #fff;
      a {float:left; margin-right:20px;}
      .sparkline { margin-top:10px; }

    }
  }
}

/* Complete article / read more link */
#container article a.more {
  padding:0 0 0 15px;
  background:url('/images/icons/read_more.png') no-repeat 0 5px;
}

/* Questions' preview */
#container article footer .left .question,
#container article footer .right .question {
  font-size:13px;
  color:rgba(125, 138, 146, .5);
}

/* answer */
#container article div.answer {
  margin: 20px 0 0 0;
  background:url('/images/notebook_bkg.png') repeat-y 0 16px;
  p { margin: 0 0 20px 0; font-size:17px; color:$dark_blue; line-height:20px; }
}

/* answer placeholder */
#container article .inner .left .answer_placeholder {
  margin: 20px 0 0 0;
  border:3px dashed #f1f1f1;
  text-align:center;
  padding:55px 0;

  p {
    margin:0px;
    padding:0;
    color:$standard_gray;
    font-size:15px;
    strong { font-size:17px; color:$dark_blue; font-weight:normal; }
    a {
      font-size:15px;
      color:$pink;
      font-weight:bold;
    }
  }
}

/* info */
#container article .inner p.info { margin: 0 0 1px 0; padding:0; font-size:15px; }

/* comments */
#container article .inner .left .comments {
  position:relative;
  margin: 40px 0 0 0;

  .count { padding:0; font-size:17px; color:$dark_blue; font-weight:bold; }
  .birdie { width:185px; height:87px; position:absolute; right:0; top:-57px; background:url('/images/twitter_sprite.png') no-repeat; }
  .textarea-comment { float:left; }

  ul {
    margin-top:10px;

    li {
      color:$standard_gray;
      padding:30px 0 20px 0;
      border-top:1px solid #eaeaea;
      border-top:1px solid rgba(70, 88, 102, .12);
      margin-bottom:10px;

      &.answered {
        margin-top: 0;
        padding-top:0;

        .answered_by {
          padding: 5px 0 5px 77px;
          margin:0 0 30px 0;

          /* for ie<9 */
          background:#F1F8DC;
          border-top: 1px solid #e4e8da;
          border-bottom: 1px solid #e4e8da;

          background:rgba(153, 204, 0, .14);
          border-top: 1px solid rgba(208, 214, 219, .4);
          border-bottom: 1px solid rgba(208, 214, 219, .4);

          font-size:11px; font-family: "Helvetica", sans-serif;
          font-weight:bold;
          text-transform:uppercase;
        }
      }

      &.comment { border:none; background: url('/images/comment_border.png') no-repeat; }
      &.no-border { border:none; }

      .comment {
        float:left;
        width:536px;

        blockquote {
          width:100%;
          margin-bottom:5px;
          font-size:17px;
          color:$standard_gray;
          font-family:"Helvetica", sans-serif;
          line-height:20px;
          p { margin:0; padding:0; } // fix for the simple_format helper
        }
        .footer {float:left;}
      }
    }
  }
}

/* quotation */
.quotation {
  blockquote {
    margin-bottom:12px;
    position:relative;
    line-height:34px;
    letter-spacing: -1px;
    background:none;

    span.quote {position:relative; z-index:100;}

    .bqstart, .bqend {
      font-family: "Times", serif;
      font-weight:300;
      font-size: 90px;
      color: #eaeaea;
      color: rgba(70, 88, 102, 0.15);
      z-index:0;
    }

    .bqstart { position:absolute; left:-20px; top:10px; }
    .bqend { position:absolute; right:5px; bottom:-30px; }
  }

  .author {
    color:$dark_blue;
    font-size:15px;
    a { color:$link_color; }
  }
}

/* pending counter */

.pending-counter { display: block; position: absolute; right: 10px; top: -8px; padding-left: 1px; width: 20px; height: 19px; line-height: 15px; background: url('/images/icons/comment.png') no-repeat; color: $white; font-size: 10px; font-weight: bold; text-align: center; }
.ie9 .pending-counter { line-height:17px;}

/* sparklines */

.graphs {
  clear: both;
  overflow: hidden;
  margin: 0 0 14px 0;
}

.sparkline {
  font-size: 10px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  .graph {
    width: 50px;
    float: left;
  }
  .legend {
    float: left;
    margin-left: 5px;
    line-height: 10px;
  }
  &.positive {
    color: #5E8821;
  }
  &.negative {
    color: #FF3300;
  }
}

/* close */

#container article {
  span.close {
    position: absolute;
    top: 3px;
    right: 10px;
    display: block;
    width: 9px;
    height: 8px;
    background: url('/images/icons/close.png') no-repeat;
    cursor: pointer;
  }
  .map span.close {
    top: 11px;
  }
  .inner .content ul.questions li {
    clear: both;
    overflow: hidden;
    margin: 0 0 13px 0;
    padding: 10px;
    background: #F2F5F8;
    @include border-radius(5px);
    &:last-child, &.last {
      margin-bottom: 0;
    }
    .avatar {
      float: left;
      margin-right: 6px;
    }
    p {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 13px;
      a {
        display: block;
        font-size: 15px;
        color: $dark_blue;
        font-weight: bold;
      }
    }
  }
  footer .inner.with_question form div.input-counter { margin-right: 10px; }

  .inner {
    .right ul.people {

      &.no-border { border:none; }
      &.no-padding { margin:0; padding:0; }
      &.extra-margin-bottom { margin-bottom:30px; }

      padding: 10px 0 0 28px;
      border-left: 1px solid #eaeaea;
      border-left: 1px solid rgba(70, 88, 102, 0.17);

      li {
        clear: both;
        overflow: hidden;
        margin: 0 0 12px 0;
        padding: 0;
        font-size: 15px;
        color: $standard_gray;

        &.more a.name { margin-top: 8px; }

        &.add {
          width:263px; height:59px;
          margin-left:-8px;
          background:url('/images/tag_sprite.png') no-repeat 0 -133px;
          a.add { margin-top:22px; font-size:13px; color: $pink; }
          .avatar { margin:9px 10px 0 8px; }
        }

        a { display: block; font-weight:normal; color: $link_color; }
        .avatar { float: left; margin: 0 9px 0 0; }
      }
    }
    .content .map {
      width: 927px;
      height: 452px;
    }
  }

  /* Maps */
  .map {
    .zoom_in {
      cursor: pointer;
      background: transparent url('/images/maps_sprite.png') no-repeat 0 0;
      width: 30px;
      height: 32px;
      margin-top: 15px;
      margin-left: 17px;
      &:hover {
        background: transparent url('/images/maps_sprite.png') no-repeat -31px 0;
      }
    }
    .zoom_out {
      cursor: pointer;
      background: transparent url('/images/maps_sprite.png') no-repeat 0 -32px;
      width: 30px;
      height: 32px;
      margin-left: 17px;
      &:hover {
        background: transparent url('/images/maps_sprite.png') no-repeat -31px -32px;
      }
    }
    .infowindow {
      display: none;
      span.close {
        right: 10px;
      }
    }
    a.marker {
      position: relative;
      display: block;
      background: url('/images/maps_sprite.png') no-repeat 0 -67px;
      width: 25px;
      height: 34px;
      cursor: pointer;
      &.with_counter { background-position: -26px -67px; }
      .counter { position: absolute; display: block; top: 6px; width: 25px; text-align: center; color: $white; font-size: 11px; font-weight: bold; }
    }
  }
  .input_field {
    position: relative;
    clear: both;
    overflow: hidden;
    height: 39px;
    span.holder { position: absolute; left: 11px; top: 8px; width: 200px; color: #D7D8DD; }
  }
  .input-counter span.holder {
    position: absolute;
    left: 11px;
    top: 10px;
    width: 200px;
    color: #D7D8DD;
  }
  .input_field span.holder.large {
    width: 100%;
    color: $medium_dark;
    font-size: 15px;
  }
  .input-counter span.holder.large {
    width: 100%;
    top: 8px;
    color: $medium_dark;
    font-size: 15px;
  }
  .input_field input {
    position: absolute;
    background: $white;
    &[type="text"] {
      width: 222px;
      height: 29px;
      padding: 0 9px;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      @include border-radius(5px);
      @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.1));
      outline: none;
    }
  }
  .input-counter {
    position: relative;
    margin-bottom: 24px;
    float: left;
    span.counter {
      top: -20px;
      right: 0;
      position: absolute;
      color: $dark_blue;
      color: rgba(70, 88, 102, 0.3);
      @include transition-property(color);
      @include transition-duration(300ms);
      &.error {
        color: #FF3300;
        opacity: 1;
      }
    }
  }
  .content textarea {
    width: 534px;
    height: 34px;
    position: relative;
    padding: 10px;
    font-size: 15px;
    color: $dark_blue;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(5px);
    @include box-shadow(inset 0 5px 5px rgba(0, 0, 0, 0.1));

    outline: none;
    @include transition-property(border);
    @include transition-duration(300ms);
    &:focus { border: 1px solid #ccc; }
    &:hover { border: 1px solid $dark; }
  }
}

/* Textarea scrollbar */
textarea {
  &::-webkit-scrollbar { width:6px; height:6px;}
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment { display:block; height:0; background-color:transparent;}
  &::-webkit-scrollbar-track-piece { background-color:#FAFAFA; -webkit-border-radius:0; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; }
  &::-webkit-scrollbar-thumb:vertical{ height:20px; background-color:#999; -webkit-border-radius:8px;}
  &::-webkit-scrollbar-thumb:horizontal { width:20px; background-color:#999; -webkit-border-radius:8px;}
}

.textarea-comment {
  font-size:15px;
  width:535px; height:67px;
  background:url('/images/textareas.png') no-repeat;
  overflow:hidden;
  float:left;
  margin-bottom:15px;

  position: relative;

  span.holder { position: absolute; left: 13px; top: 8px; width: 500px; color: #D7D8DD; }
  textarea {
    margin:7px 10px 10px 11px;
    resize: none;
    width:500px; height:37px;
    background:none;
    border:none;
    outline:none;
  }
}

#container article .right .content ul.tags {
  clear:both;
  overflow:hidden;
  list-style:none;
  margin-bottom:20px;

  li {
    float:left;
    position:relative;
    clear:both;
    margin: 0 0 5px 0;
    left:15px;
    height:24px;
    background:url('/images/tag_sprite.png') repeat-x right 0;

    &.add {
      background:url('/images/tag_sprite.png') repeat-x left -105px;
      width:88px;
      height:26px;
      left:0;

      a {
        background:none;
        height:26px;
        padding:0;
        line-height:26px;
        float:none;
        text-align:center;
        color:$pink;
        left:0;
      }
    }

    a {
      float:left;
      position:relative;
      display:block;
      line-height:16px;
      left:-15px;
      height:24px - 8;
      padding:4px 0 4px 12px;
      background:url('/images/tag_sprite.png') no-repeat 0 -26px;
    }

    &:hover {
      background-position:right -53px;
      a {
        color:#fff;
        background-position: 0 -79px;
      }

      &.add {
        background-position:left -105px;
        a {
          background:none;
          color:$dark_blue;
        }
      }
    }
  }
}


/* Tags */
//#container article .right .content ul.tags {
//  margin-bottom:20px;
//  padding-bottom:10px;
//  list-style:none;

//  li {
//    //background:none;
//    padding:0;
//    display:block;
//    clear:both;
//    overflow:hidden;
//    margin-bottom:4px;

//    a {
//    //  padding:6px 12px;
//      float:left;
//      display:block;
////      background:#f0f0f0;
//      font-size:13px;
//      color:$link_color;
//      font-weight:normal;

////      -webkit-border-radius: 14px;
////      -moz-border-radius: 14px;
////      border-radius: 14px;
//    }
//  }
//} // ul.tags

/* Sharing */
.ie7 ul.sharing li { margin: 0 3px 0 3px; }

.ie7 #container article ul.sharing li .sharebox.email .input_field input,
.ie8 #container article ul.sharing li .sharebox.email .input_field input {
  line-height:23px;
  position:static;
  border:1px solid #ccc;
}

#container article .right .content ul.sharing {

  margin: 0 0 28px 0;
  padding: 0 0 20px 0;

  li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1; *display: inline;
    background:none;
    padding:0;

    .sharebox {
      display:none;
      position:absolute;
      top:-60px;
      margin-left:-16px;
      z-index:1000;
    }

    .sharebox.email {
      margin-left:-108px;
      .input_field {margin:0;}
    }

  }
} // ul.sharing


.ie7 .sharebox ul li { margin: 0 3px 0 3px; }

#container article .right .content .sharebox {

  background:url('/images/share_box.png') repeat-x right 0;
  float:left;
  height:57px;
  position:relative;

  .arrow { width:32px; height:23px; position:absolute; bottom:-19px; left:50%; margin-left:-21px; background:url('/images/share_box.png') no-repeat 0 -123px!important; }

  .input_field {
    background:url('/images/share_box.png') no-repeat 0 -59px;
    left:-10px;
    position:relative;
    height:47px;
    padding-left:10px;
    padding-top:15px;
    width:245px;
    input { height:27px;}
    span.holder { top: 22px; left: 19px; }
  }
  input[type="submit"] { position: absolute; top: 20px; right: 17px; color: #FF0066; background: none; height: 20px; border: none; }

  ul {
    background:url('/images/share_box.png') no-repeat 0 -59px;
    left:-10px;
    position:relative;
    height:57px - 15;
    padding-left:10px;
    padding-top:15px;

    li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1; *display: inline;
    }
  }
}

// sharing icons
.share {
  position:relative;

  &.email, &.twitter, &.facebook, &.more { width:28px; height:28px; background:url('/images/icons/share.png') no-repeat 0 0; cursor: pointer; }
  &.twitter  { background-position:-29px 0; }
  &.facebook { background-position:-58px 0; }
  &.more     { background-position:-88px 0; }

  &.share:hover   { z-index:100; }
  &.email:hover   { background-position:0px -30px; }
  &.twitter:hover { background-position:-29px -30px; }
  &.facebook:hover{ background-position:-58px -30px; }
  &.more:hover    { background-position:-88px -30px; }

  .ok {
    opacity:0;
    position:absolute;
    top:20px; right:2px;
    background:url('/images/icons/share.png') no-repeat 0 -61px;  width:9px; height:9px; z-index:110;
  }
}

.left-border {
  border-left: 1px solid #eaeaea;
  border-left:1px solid rgba(70, 88, 102, .12);
  padding-left:20px;
}

/* Lists */
#container article .right .content ul.locations,
#container article .right .content ul.proposals,
#container article .right .content ul.related,
#container article .right .content ul.previously,
#container article .right .content ul.events {

  width:253px;
  padding: 0 0 20px 0px;

  &.no-bullets li {background:none;}

  li {
    background:url('/images/icons/bullet.png') no-repeat 0 7px;
    padding:0 0 8px 7px;
    font-size:13px;
    color:$standard_gray;

    a { margin-bottom:1px; display:block; color:$dark_blue; font-weight:bold; font-size:15px; }

    &.twitter-link {
      margin: 0 0 0 5px;
      padding: 0 0 0 25px;
      background:url('/images/twitter_sprite.png') no-repeat 0 -90px;
      a { font-weight:normal; font-size:13px; color:$twitter_blue; }
    }

    .footer a { margin: 0px; display:inline; color:$link_color; font-weight:normal; font-size:13px; }
  }
}

#container article .right .content ul.locations {
  li {
    padding:0;
    .map {
      background:#f1f1f1;
      width: 253px;
      height: 129px;
      margin-bottom:9px;
    }
  }
}

/* Ribbons */

#container article {
  .ribbon {
    position: absolute;
    top: -14px;
    right: 25px;
    display: block;
    width: 37px;
    height: 85px;
    background: url('/images/ribbon.png') no-repeat;
    z-index: 10;
  }

  footer .inner .right { float: right; }
  .inner {
    .right ul.selector li {
      padding: 10px;
      font-size: 15px;
      height: 12px;
      line-height: 11px;
      &.selected {
        a { font-weight: bold; color: $white; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
        @include border-radius(4px);
        background: url('/images/link_gradient_bkg.png');
      }
    }
    header .right ul.switch {
      clear: both;
      overflow: hidden;
      float: right;
      background: #F6F6F7;
      padding: 3px;
      @include border-radius(5px);

      li {
        float: left;
        margin: 0;

        a { display: block; padding: 5px 13px 4px 13px; font-size: 15px; font-weight: 100; }

        &.selected {
          border: 1px solid #ccc;
          background: $white;
          @include border-radius(5px);
          a { padding: 4px 23px; color: $dark_blue; }
        }
      }
    }
    .left .description.two_columns .column {
      margin-right: 27px;
      width: 282px!Important;
      p { margin-top: 0; margin-bottom: 20px; font-size: 15px; line-height: 18px; }
      &.last { margin-right: 0px; width: 280px!Important; }
    }
  }
  footer {
    inner.with_avatar { position: relative; }
    img.xlAvatar { position: absolute; bottom: 10px; right: 30px; padding: 4px; background: url('/images/circle_bkg.png') no-repeat center center; z-index: 10; }
  }

  ul.suggestions {
    li {
      width: 275px;
      padding: 14px 16px 16px 16px;
      font-size: 15px;
      color: $standard_gray;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1; *display: inline;
      .avatar { float: left; margin: 0 8px 0 0; }
      .content {
        float: left;
        width: 200px;

        p { padding: 0; margin: 0 0 13px 0; font-size: 15px; line-height: 15px; }
        a {
          display: block;
          font-weight: 300;
          font-size: 13px;
          color: #FF0066;

          &.name { margin-bottom: 3px; color: $link_color; font-size: 17px; font-weight: 300; }
          &.follow { display: block; margin-top: 16px; font-weight: 300; font-size: 13px; }
        }
      }
      &.selected {
        background: #F2F5F8;
        @include border-radius(5px);

        .avatar:before { border-color: #F2F5F8; }
        .content a { color: $link_color; }
      }
    }
  } // ul.suggestions

  &.with_footer footer .inner a {
    &.facebook, &.twitter {
      width: 37px;
      height: 35px;
      margin-right: 3px;
      text-indent: -99999px;
      background: url('/images/icons/social_icons.png') no-repeat;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
            *display: inline;
            @include transition-property(all);
            @include transition-duration(300ms);
            @include border-radius(5px);
          }
        }
      }


      .content footer a {
        &.facebook, &.twitter {
          width: 37px;
          height: 35px;
          margin-right: 3px;
          text-indent: -99999px;
          background: url('/images/icons/social_icons.png') no-repeat;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
                *display: inline;
                @include transition-property(all);
                @include transition-duration(300ms);
                @include border-radius(5px);
              }
            }

            #container article.with_footer footer .inner a {
              &.facebook:hover, &.twitter:hover {
                @include box-shadow(0 0 7px rgba(43, 140, 194, 0.7));
              }
            }

            .content footer a {
              &.facebook:hover, &.twitter:hover {
                @include box-shadow(0 0 7px rgba(43, 140, 194, 0.7));
              }
            }

            #container article.with_footer footer .inner a.facebook, .content footer a.facebook {
              background-position: 0 0;
            }

            #container article.with_footer footer .inner a.twitter, .content footer a.twitter {
              background-position: -40px 0;
            }

            /* =============================================================================
            Forms
            ========================================================================== */

input {
  &.mInput {
    width: 294px;
    height: 32px;
    padding: 0 9px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(5px);
    @include box-shadow(inset 0 5px 5px rgba(0, 0, 0, 0.1));
    outline: none;
    font-size: 15px;
    font-weight: 300;
  }
  &.xlInput {
    width: 508px;
    height: 32px;
    padding: 0 9px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(5px);
    @include box-shadow(inset 0 5px 5px rgba(0, 0, 0, 0.1));

    outline: none;
    color: $medium_dark;
    font-size: 15px;
  }
}

/* =============================================================================
Menu
========================================================================== */

#main ul.menu {
  width: 996px;
  margin:0 auto 45px auto;
  padding:0;

  li { position:relative; margin-right:12px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline;
    &.last {margin-right:0;}
    &:last-child {margin-right:0;}
    a {
      display:block;
      width:152px;
      padding:17px 0 18px 0;
      height:17px;
      text-align:center;
      color:$link_color;
      font-size:17px;
      font-weight:bold;
      background:#E8EBEE;

      @include box-shadow(inset 0 -1px 0 #fff, inset 0 1px 10px rgba(100, 100, 100, 0.1));
      @include border-radius(5px);
    }

    &.publish a {
      display:block;
      width:152px; text-align:center;
      padding:16px 0;
      height:17px;
      color:#F10063;
      font-weight:bold;
      border:1px solid #ccc;
      border:1px solid rgba(0,0,0,.3);

      @include box-shadow(0 1px 0 0 #fff);

      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,246,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,246,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,246,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,246,249,1) 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,246,249,1) 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f6f9',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,246,249,1) 100%); /* W3C */


      @include transition-property(background);
      @include transition-duration(300ms);
    }

    &.selected a {
      display:block;
      width:152px; text-align:center;
      padding:16px 0;
      height:18px;
      color:#fff;
      text-shadow:1px 1px 1px #0F4869;
      font-weight:bold;

      @include box-shadow(0 1px 0 0 #fff);
      background: rgb(51,150,205); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(51,150,205,1) 0%, rgba(28,123,175,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,150,205,1)), color-stop(100%,rgba(28,123,175,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(51,150,205,1) 0%,rgba(28,123,175,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(51,150,205,1) 0%,rgba(28,123,175,1) 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, rgba(51,150,205,1) 0%,rgba(28,123,175,1) 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3396cd', endColorstr='#1c7baf',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, rgba(51,150,205,1) 0%,rgba(28,123,175,1) 100%); /* W3C */
    }
  }
}

.ie7 #main ul.menu li a,
.ie8 #main ul.menu li a {
  background:url('/images/menu_buttons.png') no-repeat 0 -112px;
  height:16px;
  filter:none;
}

.ie7 #main ul.menu li.publish a,
.ie8 #main ul.menu li.publish a {
  background:url('/images/menu_buttons.png') no-repeat 0 -55px;
  filter:none;
  height:21px;
  border:none;
}

.ie7 #main ul.menu li.selected a,
.ie8 #main ul.menu li.selected a,
.ie9 #main ul.menu li.selected a {
  background:url('/images/menu_buttons.png') no-repeat 0 0;
  filter:none;
  height:17px;
}

/* =============================================================================
Autocomplete
========================================================================== */

.autocomplete {
  display: none;
  position: absolute;

  width: 451px;
  z-index: 200;
  margin-bottom:30px;

  .t, .f { height: 10px; width: 100%; position: absolute; background: url('/images/popovers_bkg.png') no-repeat; }
  .t { top: -10px; background-position: -397px 0; }
  .f { bottom: -10px; background-position: -397px -30px; }

  .inner{
    clear:both;
    overflow:hidden;
    background: url('/images/popovers_bkg.png') repeat-y -850px 0;
  }

  ul.results {
    margin:0; padding:0;
    list-style:none;
    z-index:250;

    li {
      padding: 10px 0 0 0;
      margin: 0 0 30px 0;
      background: url('/images/popovers_bkg.png') no-repeat -395px -55px;

      &.no-border { background:none; }
      h3 { text-transform:uppercase; font-weight:bold; font-size:12px; color:$dark_blue; }
      .summary { margin-top:10px; width:120px; text-align:right; }

      &.politicians { margin-bottom:0; background:none;}
      &.areas { margin-bottom:0;  ul { margin-top:-27px; }}
      &.users { margin-bottom:0;  ul { margin-top:-40px; }}

      &.contents {
        margin: 0;
        a { position: relative; left: 190px; top: -13px; font-size:17px; }
      }

      ul {
        left:150px;
        margin:-40px 0 0 0;
        padding:0;
        z-index:250;
        position:relative;

        li {
          width:260px;
          text-align:left;
          margin-bottom:15px;
          background:none;

          .avatar { float:left; margin-right:10px; }
          .name { display:block; font-size:17px; }
          .position { font-size:15px; color: $standard_gray; }
        }
      }
    }
  }
}

/* =============================================================================
Explorer fixes
========================================================================== */

/* ------------------------------------------------------------------------------ Inputs line-height */

.ie7 #search_query, .ie8 #search_query,
.ie7 .xlInput, .ie8 .xlInput,
.ie7 .input_field input[type="email"],
.ie7 .input_field input[type="text"],
.ie7 article.micro input[type="email"],
.ie7 article.micro input[type="text"],
.ie7 article.micro input[type="password"],
.ie7 #sign_in input[type="email"],
.ie7 #sign_in input[type="text"],
.ie7 #sign_in input[type="password"],
.ie8 .input_field input[type="email"],
.ie8 .input_field input[type="text"],
.ie8 article.micro input[type="email"],
.ie8 article.micro input[type="text"],
.ie8 article.micro input[type="password"],
.ie8 #sign_in input[type="email"],
.ie8 #sign_in input[type="text"],
.ie8 #sign_in input[type="password"] {
  line-height:29px;
}

/* --------------------------------------------------------------------------------------- Avatars */

.ie7 .avatar,
.ie8 .avatar {
  position: relative;
  overflow: hidden;
  width: $avatar_normal_size;
  height: $avatar_normal_size;
}

.ie7 .avatar .ieframe,
.ie8 .avatar .ieframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: $avatar_normal_size;
  height: $avatar_normal_size;
  background: url('/images/avatar_frame.png') no-repeat;
  z-index: 100;
}

.ie7 .avatar.medium,
.ie8 .avatar.medium,
.ie7 .avatar.medium .ieframe,
.ie8 .avatar.medium .ieframe {
  width: $avatar_medium_size;
  height: $avatar_medium_size;
  background: url('/images/avatar_frame.png') no-repeat 0 -70px;
}

.ie7 .avatar.small,
.ie8 .avatar.small,
.ie7 .avatar.small .ieframe,
.ie8 .avatar.small .ieframe {
  width: $avatar_small_size;
  height: $avatar_small_size;
  background: url('/images/avatar_frame.png') no-repeat 0 -115px;
}

/* --------------------------------------------------------------------------------- Calendar days */
.ie7 #container article.agenda .inner .content ul li.day {
  &.disabled h3, span { color: #bbb; }
}

/* --------------------------------------------------------------------------------- Questions' preview */
.ie7 #container article footer .left .question,
.ie7 #container article footer .right .question,
.ie8 #container article footer .left .question,
.ie8 #container article footer .right .question {
  color:$gray;
}


/* =============================================================================
Sign in
========================================================================== */

#sign_in {
  display: none;
  position: absolute;
  right: 0;
  background: url('/images/popovers_bkg.png') no-repeat;
  width: 314px;
  height: 363px;
  z-index: 100;
  padding: 51px 38px 0 38px;

  .content {
    font-size: 15px;
    p { margin:0 0 20px 0; font-size:15px; }
    label {display:block;}

    h1 { color: $dark_blue; font-weight: 300; line-height: normal; font-size:31px; }

    footer {
      clear: both;
      overflow: hidden;
      border: 0;
      padding: 0;
      position: absolute;
      bottom: 30px;
      width: 315px;
      background: none;

      .left { float: left; width: 50%; }
      .right { float: right; text-align: right; width: 50%; }
      .white_button { margin: 3px; }
    }
  }
}

p label,
.content form p label {
  font-size: 12px;
  font-weight: bold;
  color: $dark_blue;
  text-transform: uppercase;
}

#sign_in p.remember_me label, p.remember_me label, .content form p.remember_me label {
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  display:inline;
}

/* =============================================================================
Footer
========================================================================== */

footer {
  padding-top: 38px;
  background: $white;
  border-top: 1px solid #c2c4c6;

  .content { clear: both; overflow: hidden; padding: 0 0 23px 0; width: 900px; }
  ul.copyright { float: left; margin-right: 35px; }

  .home, .areas, .aobut { float: left; margin-right: 35px; }

  .content {
    .home { margin-right: 50px; }
    .areas ul { float: left; margin-right: 34px; }
  }

  .content {
    ul li { margin-bottom: 4px; color: $standard_gray; font-size: 13px; }
    h4 { padding: 0; margin: 0; margin-bottom: 10px; color: #1D7AB0; font-size: 15px; }
    ul { li a { color: $standard_gray; font-size: 13px; }

      &.copyright { margin-right: 51px;

        li {
          &.logo { margin-bottom: 21px; }
          a { text-decoration: underline; }
        }

      }
    }
  }
}
