@import "compass/css3";
@import "helpers";


html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222;
}

// Slideshow
.slideshow {
  position:relative;
  overflow:hidden;
  width:610px;
  font-family: "Helvetica", sans-serif; font-size: 17px; font-weight: 400; line-height: 21px; color: #6C777F;

  ul { list-style:none; margin: 0; padding: 0; }

  p, li {
    font-family: "Helvetica", sans-serif; font-size: 17px; font-weight: 400; line-height: 21px; color: #6C777F;
  }

  .inner_slideshow {
    clear:both;
    overflow:hidden;
    height:450px;

    ul.contents {
      margin: 0; padding:0;
      width:90000px;

      li.section {
        margin: 0; padding:0;
        position:relative;
        float:left;
        width:610px;
        textarea { display: none; }

        .caption {
          width:490px;
          color: #7D8A92;
          font-size: 13px;

          p {
            margin: 0;
            font-size: 13px;
            &.source { color: #7D8A92; margin: 0; }
          }
        }
      }
    } // .contents
  } // .inner_slideshow

  ul.navigation {
    display:none;
    position:absolute;
    top:0; right: 0;
    z-index:200;

    li {
      float:left;
      margin-left: 5px!important;
      &.selected a {
        background-position: 0 -71px;
      }

      a {
        display:block;
        width: 7px; height: 7px;
        background: url('/images/slideshow_sprite.png') no-repeat -12px -71px;
      }

    }
  }

  .embed_window {
    display:none;
    position:absolute;
    width:498px;
    height:259px;
    top: 0;
    left:0;
    background: url('/images/slideshow_sprite.png') no-repeat 0 -85px;
    z-index:200;

    .close {
      position:absolute;
      top: 11px;
      right: 10px;
      width: 8px;
      height: 9px;
      background: url('/images/slideshow_sprite.png') no-repeat -264px 0px;
    }

    .input_field {
      top: 40px;
      margin:auto;

      width:431px;
      height:110px;

      overflow-y:none;
      position: relative;
      padding: 9px;
      font-size: 13px;
      background: url('/images/slideshow_sprite.png') no-repeat 0 -349px;

      textarea {
        resize: none;
        width:420px;
        height:110px;
        padding: 0 10px 0 0;
        outline: none;
        border:none;
        font-family:"Courier";
        color:#999;
        font-size:12px;
        background:transparent;
      }
    }

    .footer {
      position:absolute;
      bottom: 30px;
      left:20px;
      font-size: 13px;
      color:#999;
      width:auto;
    }
  }

  .selector {
    clear:both;
    overflow:hidden;
    position:absolute;
    top: 10px; right: 10px;
    background:#666;
    background:rgba(0,0,0,.6);
    @include border-radius(3px);

    li {
      padding: 3px;
      float:left;

      &.photo { float:right; }

      &.selected a {
        color:#666;
        background:#fff;
        @include border-radius(3px);
      } // selected

      a {
        display:block;
        padding: 0 3px;
        height: 20px;
        line-height:15px;
        color:#fff;
        font-size:13px;
        text-decoration: none;

      } // a
    }
  }

  .options {
    display:none;
    @include disable-selection;

    .handle {
      position:absolute;
      display:block;
      top: 10px; left: 10px;
      width:20px; height:21px;
      background: url('/images/slideshow_sprite.png') no-repeat 0 -44px;
      z-index:100;
      cursor:pointer;
    }

    .inner_options {
      display:none;
      position:absolute;
      background: url('/images/slideshow_sprite.png') no-repeat -96px 0;
      top:10px; left:10px;
      width:155px;
      height:83px;

      ul {
        position: relative;
        top: 25px;
        left: 7px;

        li {
          &.embed { margin: 0 0 8px 0; }
          margin:0;
          padding:0;

          a {
            color:#fff;
            text-decoration:none;
            font-size:10px;
            @include opacity(0.5);
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .slideshow_controls {
    display:none;

    a {
      position:absolute;
      display:block;
      width:40px; height:40px;
      background: url('/images/slideshow_sprite.png') no-repeat;
      cursor:pointer;
      z-index:100;

      &.disabled, &.disabled:hover {display:none}

      &.next { right:20px; background-position: -44px 0; }
      &.prev { left:20px; background-position: 0 0; }
    }
  }
}


@-moz-document url-prefix() {
  .slideshow  .selector li a {
    padding-top: 2px;
  }
}
