<div class="success message">
  <div class="icon"></div>
  <h2><%= t('.title') %></h2>
  <p><%= t('.description') %></p>
</div>
<script>
  setTimeout(function(){
    window.location = "<%= url_for @content %>";
  }, 1000);
</script>
