<%= avatar data.author %>

<div class="content">
  <p><%= raw(t(".title.#{am_I?(data.author) ? 'you' : 'other'}", :author => data.author.name, :question => content_tag(:strong, data.question_text))) %></p>

  <p class="excerpt">

  <%= link_to %Q{"#{data.answer_text}"}, question_path(data.question_slug) %>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.iphone.author', :time => distance_of_time_in_words(data.question_published_at, data.published_at)) %>
    </span>
  </div>
</div>
