<%= link_to "", question_path(data.content.slug), :class => "icon plus" %>

<div class="content">
  <p>
  <%= raw t(".title", :question => content_tag('strong', (link_to %Q{"#{data.question_text}"}, question_path(data.content.slug)))) %>
  </p>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.iphone.date', :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
  </div>
</div>
