<%= avatar data.author %>
<div class="content">
  <p><%= t('.title', :content_type => t(".#{data.content.type}")) %> <strong>&quot;<%#= link_to data.content.text, send("#{data.content.type}_path", data.content.id) %>&quot;</strong>
  </p>
  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    <% unless defined?(admin) %>
      &middot;
      <%= render "/shared/inline_sharing" %>
    <% end %>
  </div>
</div>
