<%= avatar data.author %>
<div class="content">
  <p><%= simple_format data.body %></p>
  <div class="footer">
    <span class="published_at">
    <%= raw t('.author', :author => link_to(data.author.fullname, user_path(data.author.id)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    &middot;
      <%= render "/shared/inline_sharing" %>
  </div>
</div>
