<div class="tag"></div>

<div class="content">
  <%= content_tag 'p', raw(t('.title', :name => data.author.name, :content_type => t(".#{data.content.type}"), :content => content_tag('strong', link_to(data.content.title, send("#{data.content.type}_path", data.content.id))))) %>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :time => distance_of_time_in_words_to_now(data.published_at)) %>
      &middot;
    </span>

      &middot;
      <%= render "/shared/inline_sharing" %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
