<% if (data.percent_in_favor==50 || data.participation==0)
    position = "neutral"
  else
    position = data.percent_in_favor > data.percent_against ? "in_favor" : "against"
  end
%>

  <%= link_to raw("<strong>#{data.percentage}<span class='percentage'>%</span></strong>"), proposal_path(data.slug), :class => "icon #{ position }" %>
  <div class="content">

  <p>
    <%= t(".title.#{am_I?(data.author) ? 'you' : 'other'}", :name => data.author.name) %>
    <%= content_tag 'strong', (link_to %Q{"#{data.title}"}, proposal_path(data.slug)) %>
  </p>

  <div class="footer">
    <span class="author">
      <%= raw t('.iphone.date', :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
  </div>
</div>
