<div class="related_politicians">
  <h3><%= t('.sidebar.related_politicians.title') %></h3>
  <ul>
    <% @content.users.each do |user| %>
      <li>
      <%= link_to user.fullname, path_for_user(user) %>
      <span><%= get_politician_title(user) %></span>
      </li>
      <% end if @content.users.present? %>
    </ul>
  </div>
