<% if @last_contents and @last_contents.size > 0 %>
  <h4><%= t('.title') %></h4>
  <ul class="previously">
    <% @last_contents.each do |event| %>
      <li><%= link_to event.title, event_path(event) %>
      <div class="footer"><%= t('.time', :time => distance_of_time_in_words_to_now(event.published_at)) %> &middot;

        <span class="comments"><%= link_to event.comments_count, event_path(event, :anchor => "comments") %></span>

      </div>
      </li>
    <% end %>
  </ul>
<% end %>
