<% if @last_contents and @last_contents.size > 0 %>
  <h4><%= t('.title') %></h4>
  <ul class="related bullets">
    <% @last_contents.each do |content| %>
      <li><%= link_to content.title, url_for(content) %>
      <div class="footer"><%= distance_of_time_in_words_to_now(content.published_at) %> &middot; <span class="comments"><%= link_to content.comments_count, :controller => :contents, :id => content.id, :action => :show, :type => content.class.to_s, :anchor => :comments %></span></div>
      </li>
    <% end %>
  </ul>
<% end %>
