<h4><%= t('.title') %></h4>
<ul class="questions">
  <% @last_contents.each do |question| %>
    <li>
    <p><%= link_to question.question_text, question_path(question) %></p>
    <div class="footer">
      <span ><%= t('.time', :time => distance_of_time_in_words_to_now(question.published_at)) %></span>
      &middot;
      <%= link_to t('.comments', :count => question.comments.moderated.count), question_path(question, :anchor => 'comments') %>
    </div>
    </li>
  <% end %>
</ul>
