<h3>Descargas</h3>

<ul class="tabs">
  <li class="first active"><a href="#tab-audio">Audio</a></li>
  <li><a href="#tab-video">Video</a></li>
  <li class="last"><a href="#tab-documents">Documentos</a></li>
</ul>

<div class="pill-content">
  <div class="active" id="tab-audio">
    <ul class="playlist">
      <li class="clearfix">
      <div class="icon"></div>
      <a href="/mp3/test.mp3">Intervención de S.A.R.</a>
      <span class="footer">MP3, 23 min., <a href="/mp3/test.mp3" class="exclude download" target="_blank">6.2MB</a></span>
      </li>
      <li class="clearfix">
      <div class="icon"></div>
      <a href="/mp3/test2.mp3">Himno de la Universidad de...</a>
      <span class="footer">MP3, 23 min., <a href="/mp3/test.mp3" class="exclude download" target="_blank">6.2MB</a></span>
      </li>
    </ul>
  </div>
  <div id="tab-video">
    <ul>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Vídeo de la intervención</a>
      <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
      </li>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Vídeo de la intervención</a>
      <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
      </li>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Vídeo de la intervención</a>
      <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
      </li>
    </ul>
  </div>
  <div id="tab-documents">
    <ul>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
      <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
      </li>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
      <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
      </li>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
      <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
      </li>
    </ul>

  </div>
</div>

<h3>Cobertura por Irekia</h3>
<p>Imagen, video, audio, streaming</p>

<h3>Acceso al evento</h3>
<p>Permitido para medios gráficos</p>


<h4>Contenidos similares</h4>
<ul class="related bullets">
  <li><a href="/news/68">Aprobada la Instrucción que regula la imagen corporativa de la Ertzaintza</a>
  <div class="footer">4 minutos &middot; <a href="/news/68#comments">Todavía no hay comentarios</a></div>
  </li>
  <li><a href="/news/67">El reparto de las tareas domésticas sigue siendo desigual entre hombres y mujeres</a>
  <div class="footer">4 minutos &middot; <a href="/news/67#comments">Todavía no hay comentarios</a></div>
  </li>
  <li><a href="/news/66">La Ertzaintza adecúa sus procedimientos de trabajo a la nueva situación que vive Euskadi</a>
  <div class="footer">4 minutos &middot; <a href="/news/66#comments">Todavía no hay comentarios</a></div>
  </li>
</ul>


<h3>Cobertura por Irekia</h3>
<p>Imagen, video, audio, streaming</p>

<h3>Acceso al evento</h3>
<p>Permitido para medios gráficos</p>
