<h3>Descargas</h3>

<ul class="tabs">
  <li class="first active"><a href="#home">Audio</a></li>
  <li><a href="#profile">Video</a></li>
  <li class="last"><a href="#messages">Documentos</a></li>
</ul>

<div class="pill-content">
  <div class="active" id="home">
    <ul class="playlist">
      <li class="clearfix">
      <div class="icon"></div>
      <a href="/mp3/test.mp3">Intervención de S.A.R.</a>
      <span class="footer">MP3, 23 min., 6.2.MB</span>
      </li>
      <li class="clearfix">
      <div class="icon"></div>
      <a href="/mp3/test2.mp3">Himno de la Universidad de...</a>
      <span class="footer">MP3, 23 min., 6.2.MB</span>
      </li>
    </ul>
  </div>
  <div id="profile">
    <ul>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
      <span class="footer">PDF, 6.2MB</span>
      </li>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
      <span class="footer">PDF, 6.2MB</span>
      </li>
      <li class="clearfix">
      <div class="icon pdf"></div>
      <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
      <span class="footer">PDF, 6.2MB</span>
      </li>
    </ul>
  </div>
  <div id="messages">Messages</div>
</div>

<h3>Cobertura por Irekia</h3>
<p>Imagen, video, audio, streaming</p>

<h3>Acceso al evento</h3>
<p>Permitido para medios gráficos</p>

