<h4><%= t('.title') %></h4>
<ul class="tags">
  <% @tags.each do |tag| -%>
    <li><%= link_to tag.strip, search_path(:search => {:query => tag}) %></li>
  <% end -%>
  <li class="add"><%= link_to "Añadir tag", "#" %></li>
</ul>
