<ul class="info">
	<li>
		<h3><%= @items_count %></h3>
		<p>comentarios<br/>pendientes</p>
	</li>
	<li class="last">
		<h3 class="time"><%= moderation_time %></h3>
		<p>tiempo medio<br/>de moderación</p>
	</li>
</ul>
