<div class="article total_info">
  <div class="inner">
    <div class="content">
      <%= render 'moderation_info' %>
      <div class="order">
        <span class="move"></span>
        <span class="buttons">
          <a class="recents" href="<%= admin_moderation_path %>">recientes primero</a>
          <a class="olds" href="<%= admin_moderation_path(:oldest_first => true) %>">antiguos primero</a>
        </span>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<div class="article activity">
  <div class="inner">
    <div class="content">
      <ul>
        <li class="content edit">
          <div class="left">
            <%= render "admin/moderation/lists_elements/edit/#{@item.type.downcase}", :data => @item %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
