<div class="article activity">
  <div class="inner">
    <div class="content">
      <ul>
        <li class="content edit">
          <div class="left">
            <%= render "admin/moderation/lists_elements/edit/#{@item.type.downcase}", :data => @item %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
