<article class="total_info">
  <div class="inner">
    <div class="content">
      <%= render 'moderation_info' %>
      <div class="order">
        <span class="move"></span>
        <span class="buttons">
          <a class="recents" href="<%= admin_moderation_path %>">recientes primero</a>
          <a class="olds" href="<%= admin_moderation_path(:oldest_first => true) %>">antiguos primero</a>
        </span>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</article>


<article class="activity">
  <div class="inner">
    <div class="content">
      <ul>
        <%= render 'admin/moderation/items_list' %>
      </ul>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</article>

<span class="no_content">No hay más contenidos<br/>pendientes de ser<br/>moderados</span>
<span class="loader">Cargando más contenido</span>