/* New clearfix */
.inner:after, .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* html .clearfix, * html .inner { zoom: 1; }

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .inner { zoom: 1; }

/* IE7 */
textarea { resize: none; }

/* Textarea scrollbar */
textarea { -webkit-appearance: none; }
textarea.grow::-webkit-scrollbar { display: none; }
textarea::-webkit-scrollbar { width: 6px; height: 6px; }
textarea::-webkit-scrollbar-button:start:decrement, textarea::-webkit-scrollbar-button:end:increment { display: block; height: 0; background-color: transparent; }
textarea::-webkit-scrollbar-track-piece { background-color: #FAFAFA; -webkit-border-radius: 0; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; }
textarea::-webkit-scrollbar-thumb:vertical { height: 20px; background-color: #999; -webkit-border-radius: 8px; }
textarea::-webkit-scrollbar-thumb:horizontal { width: 20px; background-color: #999; -webkit-border-radius: 8px; }

.textarea-comment { font-size: 15px; width: 535px; height: 67px; background: url("/images/textareas.png") no-repeat; overflow: hidden; float: left; margin-bottom: 15px; position: relative; }
.textarea-comment span.holder { position: absolute; left: 13px; top: 8px; width: 500px; color: #D7D8DD; }
.textarea-comment textarea { margin: 7px 10px 10px 11px; resize: none; width: 510px; height: 50px; background: none; border: none; outline: none; }

header nav .content a.blue_button, header nav .content ul.auth li a.blue_button, header nav .content ul li .blue_button a, article .blue_button a { padding: 7px 14px; }

.ie9 .white_button.disabled:hover, .ie9 article .white_button.disabled:hover, .ie9 .white_button, .ie9 article .white_button { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f6f9',GradientType=0 ); /* IE6-9 */ }

.ie9 .white_button.disabled, .ie9 article .white_button.disabled { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f6f9',GradientType=0 ); /* IE6-9 */ }

.ie9 article .blue_button, .ie9 header nav .content .blue_button, .ie9 header nav .content ul li .blue_button { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3396cd', endColorstr='#2080b5',GradientType=0 ); /* IE6-9 */ }

.ie9 article .blue_button:active, .ie9 header nav .content ul li .blue_button:active { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2080b5', endColorstr='#3396cd',GradientType=0 ); /* IE6-9 */ }

/* Blue buttons */
article .blue_button, header nav .content .blue_button, header nav .content ul li .blue_button { color: #fff; font-size: 15px; text-shadow: 0px 1px 1px #0F4768; border: 1px solid #13587F; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 1px 0 #369acf; -webkit-box-shadow: 0 1px 1px 0 #369acf; -o-box-shadow: 0 1px 1px 0 #369acf; box-shadow: 0 1px 1px 0 #369acf; background: #3396cd; /* Old browsers */ background: -moz-linear-gradient(top, #3396cd 0%, #2080b5 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3396cd), color-stop(100%, #2080b5)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #3396cd 0%, #2080b5 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #3396cd 0%, #2080b5 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #3396cd 0%, #2080b5 100%); /* IE10+ */ background: linear-gradient(top, #3396cd 0%, #2080b5 100%); /* W3C */ }

article .blue_button:active, header nav .content ul li .blue_button:active { background: #3396cd; /* Old browsers */ background: -moz-linear-gradient(top, #2080b5 0%, #3396cd 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2080b5), color-stop(100%, #3396cd)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #2080b5 0%, #3396cd 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #2080b5 0%, #3396cd 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #2080b5 0%, #3396cd 100%); /* IE10+ */ background: linear-gradient(top, #2080b5 0%, #3396cd 100%); /* W3C */ }

/* =============================================================================
White buttons
========================================================================== */
.white_button, article.white_button { /* ------------------------------------------------------------------------------ Colors */ /* ------------------------------------------------------------------------------ Icons */ /* ------------------------------------------------------------------------------ Definition */ float: left; padding: 8px 14px; color: #f10063; font-weight: bold; font-size: 15px; border: 1px solid rgba(0, 0, 0, 0.2); -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 1px 0 white; -webkit-box-shadow: 0 1px 1px 0 white; -o-box-shadow: 0 1px 1px 0 white; box-shadow: 0 1px 1px 0 white; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 300ms; -webkit-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; background: white; /* Old browsers */ background: -moz-linear-gradient(top, white 0%, #f4f6f9 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f6f9)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, white 0%, #f4f6f9 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, white 0%, #f4f6f9 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, white 0%, #f4f6f9 100%); /* IE10+ */ background: linear-gradient(top, #ffffff 0%, #f4f6f9 100%); /* W3C */ }
.white_button.pink, article.white_button.pink { color: #f10063; }
.white_button.blue, article.white_button.blue { color: #1d79b0; }
.white_button.orange, article.white_button.orange { color: #ff6600; }
.white_button.green, article.white_button.green { color: #75b100; }
.white_button.agree, article.white_button.agree { color: #669900; }
.white_button.disagree, .white_button.against, article.white_button.disagree, article.white_button.against { color: #ff9933; }
.white_button.add_person, .white_button.add_person:active, article.white_button.add_person, article.white_button.add_person:active { position: relative; padding-left: 33px; color: #f10063; }

#container article footer .white_button.right, #container article .white_button.right, #container article article .white_button.right { float: right; right: 0; width: auto; }

#container article footer .white_button.left, #container article .white_button.left, #container article article .white_button.left { float: left; left: 0; width: auto; }

#container article footer .white_button.center, #container article .white_button.center, #container article article .white_button.center { float: none; margin: auto; }

.white_button.disabled, article .white_button.disabled { color: #bbb; border: 1px solid #eee; background: white; /* Old browsers */ background: -moz-linear-gradient(top, white 0%, #f4f6f9 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f6f9)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, white 0%, #f4f6f9 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, white 0%, #f4f6f9 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, white 0%, #f4f6f9 100%); /* IE10+ */ background: linear-gradient(top, #ffffff 0%, #f4f6f9 100%); /* W3C */ }

.white_button.disabled:hover, article .white_button.disabled:hover { color: #bbb; border: 1px solid #eee; background: white; /* Old browsers */ background: -moz-linear-gradient(top, white 0%, #f4f6f9 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f6f9)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, white 0%, #f4f6f9 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, white 0%, #f4f6f9 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, white 0%, #f4f6f9 100%); /* IE10+ */ background: linear-gradient(top, #ffffff 0%, #f4f6f9 100%); /* W3C */ -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

.white_button:hover, article .white_button:hover { color: #333; background-color: rgba(244, 246, 249, 0.76); -moz-box-shadow: 0 0 7px rgba(43, 140, 194, 0.3); -webkit-box-shadow: 0 0 7px rgba(43, 140, 194, 0.3); -o-box-shadow: 0 0 7px rgba(43, 140, 194, 0.3); box-shadow: 0 0 7px rgba(43, 140, 194, 0.3); text-decoration: underline; }

.white_button:active, article .white_button:active { color: #333; font-weight: bold; font-size: 15px; border: 1px solid rgba(0, 0, 0, 0.2); -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 1px 0 white; -webkit-box-shadow: 0 1px 1px 0 white; -o-box-shadow: 0 1px 1px 0 white; box-shadow: 0 1px 1px 0 white; background: -moz-linear-gradient(top, rgba(244, 246, 249, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 246, 249, 0.76)), color-stop(100%, rgba(255, 255, 255, 0.76))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(244, 246, 249, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(244, 246, 249, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, rgba(244, 246, 249, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%); /* IE10+ */ background: linear-gradient(top, rgba(244, 246, 249, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%); /* W3C */ }
.white_button:active span, article .white_button:active span { background-position: 0 0; }

/* add person icon */
.white_button.add_person:hover span { background-position: 0 -15px; }
.white_button.add_person span { position: absolute; display: block-inline; width: 18px; height: 15px; top: 8px; left: 10px; background: url("/images/icons/add_person.png") no-repeat; }

/* Hacks & fixes */
.ie9 .white_button:active, .ie9 article .white_button:active { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2f4f6f9', endColorstr='#c2ffffff',GradientType=0 ); /* IE6-9 */ }

.ie7 #container article .inner .right button, .ie8 #container article .inner .right button, .ie7 #container article .inner .left .comments ul li.comment form button, .ie8 #container article .inner .left .comments ul li.comment form button, .ie7 button.white_button, .ie8 button.white_button { position: relative; cursor: pointer; margin: 0; overflow: visible; /* removes extra side padding in IE */ width: auto; }
.ie7 #container article .inner .right button span, .ie8 #container article .inner .right button span, .ie7 #container article .inner .left .comments ul li.comment form button span, .ie8 #container article .inner .left .comments ul li.comment form button span, .ie7 button.white_button span, .ie8 button.white_button span { position: relative; left: 0px; }
.ie7 #container article .inner .right button.right, .ie8 #container article .inner .right button.right, .ie7 #container article .inner .left .comments ul li.comment form button.right, .ie8 #container article .inner .left .comments ul li.comment form button.right, .ie7 button.white_button.right, .ie8 button.white_button.right { float: right; right: 0; margin: 0; }
.ie7 #container article .inner .right button.blue span, .ie8 #container article .inner .right button.blue span, .ie7 #container article .inner .left .comments ul li.comment form button.blue span, .ie8 #container article .inner .left .comments ul li.comment form button.blue span, .ie7 button.white_button.blue span, .ie8 button.white_button.blue span { color: #1d79b0; }

.ie8 .white_button, .ie7 .white_button { float: left; height: 37px; padding: 0; margin: 0 10px; border: none; padding: 0; background: url("/images/buttons_sprite.png") repeat-x right 0 !important; }
.ie8 .white_button:hover, .ie8 .white_button:hover span, .ie7 .white_button:hover, .ie7 .white_button:hover span { color: #333; }
.ie8 .white_button.blue span, .ie7 .white_button.blue span { color: #1d79b0; }
.ie8 .white_button span, .ie7 .white_button span { display: block; left: 10px; height: 19px; padding: 9px 14px; margin: 0 0 0 -10px; line-height: 18px; background: url("/images/buttons_sprite.png") no-repeat left -40px; color: #f10063; font-weight: bold; font-size: 15px; cursor: pointer; }

/*Checkboxs, radiobuttons, ...*/
a.checkbox { padding: 0 0 0 17px; background: url("/images/special_buttons.png") no-repeat 0 4px; color: #666666; line-height: normal; }
a.checkbox:hover { cursor: pointer; }
a.checkbox.selected { background-position: 0 -14px; }
a.checkbox.selected:hover { cursor: pointer; text-decoration: none; }

a.radio { padding: 0 0 0 17px; background: url("/images/special_buttons.png") no-repeat 0 -33px; color: #666666; }
a.radio:hover { cursor: pointer; background-position: 0 -53px; }
a.radio.selected { background-position: 0 -73px; }
a.radio.selected:hover { cursor: pointer; text-decoration: none; }

/** Default DropKick theme  Feel free to edit the default theme or even add your own.  See the readme for themeing help  */
/***** Begin Theme, feel free to edit in here! ******/
/* One container to bind them... */
.dk_container { background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f5f5f5)); background: -moz-linear-gradient(top, white, #f5f5f5); background: -o-linear-gradient(top, white, #f5f5f5); background-color: #f5f5f5; font-family: 'Helvetica', Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 14px; margin-bottom: 18px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.dk_container:focus { outline: 0; }

.dk_container a { cursor: pointer; text-decoration: none; }

/* Opens the dropdown and holds the menu label */
.dk_toggle { /** Help: Arrow image not appearing Try updating this property to your correct dk_arrows.png path */ background-image: url("/images/icons/dk_arrows.png"); background-repeat: no-repeat; background-position: 90% center; border: 1px solid #ccc; color: #333; padding: 7px 45px 7px 10px; text-shadow: #fff 1px 1px 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-transition: border-color .5s; -moz-transition: border-color .5s; -o-transition: border-color .5s; transition: border-color .5s; }

.dk_toggle:hover { border-color: #8c8c8c; }

/* Applied when the dropdown is focused */
.dk_focus .dk_toggle { border-color: #40b5e2; }

.dk_focus .dk_toggle { box-shadow: 0 0 5px #40b5e2; -moz-box-shadow: 0 0 5px #40b5e2; -webkit-box-shadow: 0 0 5px #40b5e2; }

/* Applied whenever the dropdown is open */
.dk_open { box-shadow: 0 0 5px #40b5e2; -moz-box-shadow: 0 0 5px #40b5e2; -webkit-box-shadow: 0 0 5px #40b5e2; /** Help: Dropdown menu is covered by something Try setting this value higher */ z-index: 10; }

.dk_open .dk_toggle { background-color: #ececec; border-color: #8c8c8c; color: #ccc; box-shadow: inset 0 -2px 5px #cccccc; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }

/* The outer container of the options */
.dk_options { box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }

.dk_options a { background-color: #fff; border-bottom: 1px solid #999; font-weight: bold; padding: 8px 10px; }

.dk_options li:last-child a { border-bottom: none; }

.dk_options a:hover, .dk_option_current a { background-color: #0084c7; border-bottom-color: #004c72; color: #fff; text-decoration: none; text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0; }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner { border: 1px solid #8c8c8e; border-bottom-width: 2px; border-bottom-color: #999; color: #333; max-height: 250px; text-shadow: #fff 0 1px 0; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }

/* Set a max-height on the options inner */
.dk_options_inner, .dk_touch .dk_options { max-height: 250px; }

/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.dk_container { display: none; float: left; position: relative; }

.dk_container a { outline: 0; }

.dk_toggle { display: -moz-inline-stack; display: inline-block; *display: inline; position: relative; zoom: 1; }

.dk_open { position: relative; }

.dk_open .dk_options { display: block; }

.dk_open .dk_label { color: inherit; }

.dk_options { display: none; margin-top: -1px; position: absolute; right: 0; width: 100%; }

.dk_options a, .dk_options a:link, .dk_options a:visited { display: block; }

.dk_options_inner { overflow: auto; position: relative; }

.dk_touch .dk_options { overflow: hidden; }

.dk_touch .dk_options_inner { max-height: none; overflow: visible; }

.dk_fouc select { position: relative; top: -99999em; visibility: hidden; }

/***** End Critical to the continued enjoyment of working dropdowns ******/
