/* New clearfix */
.inner:after, .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* html .clearfix, * html .inner { zoom: 1; }

*:first-child + html .clearfix, *:first-child + html .inner { zoom: 1; }
