/*
Syntax error: Invalid CSS after "      .left {": expected "}", was "<<<<<<< HEAD"
        on line 376 of /Users/javierarce/Sites/irekia/public/scss/main.scss

371:         text-align: right;
372: 
373:         a { display:block; clear:both; }
374:       }
375:       .left {
376: <<<<<<< HEAD
377: =======
378:         padding:3px;
379: >>>>>>> a6dd0958aff9198879f0fa149e7860b92e2042a8
380:         a { display:block; clear:both; }
381:       }

Backtrace:
/Users/javierarce/Sites/irekia/public/scss/main.scss:376
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:836:in `tok!'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:362:in `block'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:379:in `block_child'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:26:in `parse'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/content_length.rb:13:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/handler/webrick.rb:52:in `service'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"      .left {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 376 of /Users/javierarce/Sites/irekia/public/scss/main.scss\A \A 371:         text-align: right;\A 372: \A 373:         a { display:block; clear:both; }\A 374:       }\A 375:       .left {\A 376: <<<<<<< HEAD\A 377: =======\A 378:         padding:3px;\A 379: >>>>>>> a6dd0958aff9198879f0fa149e7860b92e2042a8\A 380:         a { display:block; clear:both; }\A 381:       }"; }
