/*
Syntax error: Invalid CSS after "@import "helpers";": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 4 of /Users/javierarce/Sites/irekia/public/scss/buttons.scss
        from line 9 of /Users/javierarce/Sites/irekia/public/scss/style.scss

1: @import "compass/css3";
2: @import "helpers";
3: 
4: <<<<<<< HEAD
5: 
6: textarea { resize:none; }
7: 
8: /* Textarea scrollbar */
9: textarea {

Backtrace:
/Users/javierarce/Sites/irekia/public/scss/buttons.scss:4
/Users/javierarce/Sites/irekia/public/scss/style.scss:9
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:27:in `parse'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:251:in `block in to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:251:in `to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/railties-3.0.10/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/content_length.rb:13:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p180@irekia/gems/rack-1.2.4/lib/rack/handler/webrick.rb:52:in `service'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@import \"helpers\";\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 4 of /Users/javierarce/Sites/irekia/public/scss/buttons.scss\A         from line 9 of /Users/javierarce/Sites/irekia/public/scss/style.scss\A \A 1: @import \"compass/css3\";\A 2: @import \"helpers\";\A 3: \A 4: <<<<<<< HEAD\A 5: \A 6: textarea { resize:none; }\A 7: \A 8: /* Textarea scrollbar */\A 9: textarea {"; }
