/*
Syntax error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 1833 of /Users/javierarce/Sites/irekia/public/scss/main.scss
        from line 8 of /Users/javierarce/Sites/irekia/public/scss/style.scss

1828:       }
1829:         overflow:hidden!important;
1830:       }
1831:     }
1832:   }
1833: }
1834: 
1835: // =============================================================================
1836: // Avatars
1837: // =============================================================================
1838: 

Backtrace:
/Users/javierarce/Sites/irekia/public/scss/main.scss:1833
/Users/javierarce/Sites/irekia/public/scss/style.scss:8
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/scss/parser.rb:27:in `parse'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/engine.rb:251:in `block in to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/engine.rb:251:in `to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/warden-1.0.6/lib/warden/manager.rb:35:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/warden-1.0.6/lib/warden/manager.rb:34:in `catch'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/warden-1.0.6/lib/warden/manager.rb:34:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/railties-3.0.10/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/content_length.rb:13:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290@irekia/gems/rack-1.2.4/lib/rack/handler/webrick.rb:52:in `service'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/javierarce/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 1833 of /Users/javierarce/Sites/irekia/public/scss/main.scss\A         from line 8 of /Users/javierarce/Sites/irekia/public/scss/style.scss\A \A 1828:       }\A 1829:         overflow:hidden!important;\A 1830:       }\A 1831:     }\A 1832:   }\A 1833: }\A 1834: \A 1835: // =============================================================================\A 1836: // Avatars\A 1837: // =============================================================================\A 1838: "; }
