<!-- Agenda -->
<article class="agenda with_footer">
<div class="inner">
  <header>
  <div class="left"><h2>Agenda</h2></div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><a href="#" class="view_calendar">ver calendario</a></li>
      <li><a href="#" class="view_map">ver mapa</a></li>
    </ul>

  </div>
  </header>
  <div class="content">
    <div class="agenda_map">
      <div id="map_canvas" class="map"></div>

      <ul class="agenda">
        <li class="day disabled"><h3>30</h3><span>jul</span></li>
        <li class="day disabled"><h3>31</h3><span>jul</span></li>
        <li class="day today"><h3>1</h3><span>ago</span></li>
        <li class="day"><h3>2</h3><span>ago</span>

        <ul class="events">
          <li><a href="#" id="event-10" class="event">Reunión con el si...</a></li>
        </ul>


        <div id="info-event-10" class="info">
          <ul>
            <li>
            <strong class="date">31, AGOSTO 2011</strong>
            <a href="#" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
            <ul class="details">
              <li class="where">Universidad de Deusto</li>
              <li class="when">13:00</li>
            </ul>
            </li>
          </ul>
          <span class="close"></span>
        </div>

        </li>
        <li class="day"><h3>3</h3><span>ago</span></li>
        <li class="day"><h3>4</h3><span>ago</span></li>
        <li class="day last"><h3>5</h3><span>ago</span></li>

        <li class="day"><h3>6</h3><span>jul</span>

        <ul class="events">
          <li><a href="#" id="event-6-1" class="event">Reunión con el si...</a></li>
          <li><a href="#" id="event-6-2" class="event">Presentación de...</a></li>
          <li><a href="#" id="event-6-3" class="event">Presentación de...</a></li>
        </ul>

        <div id="info-event-6-3" class="info large">
          <div class="scroll-pane">
            <ul class="events">

              <li>
              <strong class="date">31, AGOSTO 2011</strong>
              <a href="http://www.irekia.euskadi.net/lang" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
              <ul class="details">
                <li class="where">Universidad de Deusto</li>
                <li class="when">13:00</li>
              </ul>
              <div class="separator"></div>
              </li>

              <li>
              <strong class="date">31, AGOSTO 2011</strong>
              <a href="#" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
              <ul class="details">
                <li class="where">Universidad de Deusto</li>
                <li class="when">13:00</li>
              </ul>
              <div class="separator"></div>
              </li>

              <li>
              <strong class="date">31, AGOSTO 2011</strong>
              <a href="#" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
              <ul class="details">
                <li class="where">Universidad de Deusto</li>
                <li class="when">13:00</li>
              </ul>
              <div class="separator"></div>
              </li>

              <li>
              <strong class="date">31, AGOSTO 2011</strong>
              <a href="#" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
              <ul class="details">
                <li class="where">Universidad de Deusto</li>
                <li class="when">13:00</li>
              </ul>
              <div class="separator"></div>
              </li>

              <li>
              <strong class="date">31, AGOSTO 2011</strong>
              <a href="#" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
              <ul class="details">
                <li class="where">Universidad de Deusto</li>
                <li class="when">13:00</li>
              </ul>
              </li>
            </ul>
          </div>
          <span class="close"></span>
        </div>

        </li>
        <li class="day"><h3>7</h3><span>ago</span></li>
        <li class="day"><h3>8</h3><span>ago</span></li>
        <li class="day"><h3>9</h3><span>ago</span></li>
        <li class="day"><h3>10</h3><span>ago</span>

        </li>
        <li class="day"><h3>11</h3><span>jul</span></li>
        <li class="day last"><h3>12</h3><span>ago</span></li>

        <li class="day"><h3>13</h3><span>ago</span></li>
        <li class="day"><h3>14</h3><span>ago</span></li>
        <li class="day"><h3>15</h3><span>ago</span></li>
        <li class="day"><h3>16</h3><span>ago</span>

        <ul class="events">
          <li><a href="#" class="play event">Acto de pres...</a></li>
          <li><a href="#" class="event">Presentación de...</a></li>
          <li class="more"><a href="#" class="event">y 2 más...</a></li>
        </ul>

        <div class="info">
          <ul>
            <li>
            <strong class="date">31, AGOSTO 2011</strong>
            <a href="#" class="event">Reunión con el sindicato de Estudiantes Universitarios</a>
            <ul class="details">
              <li class="where">Universidad de Deusto</li>
              <li class="when">13:00</li>
            </ul>
            </li>
          </ul>
          <span class="close"></span>
        </div>

        </li>
        <li class="day"><h3>17</h3><span>ago</span></li>
        <li class="day"><h3>18</h3><span>ago</span></li>
        <li class="day last"><h3>19</h3><span>ago</span>

        <ul class="events">
          <li><a href="#" class="event">Presentación de...</a></li>
        </ul>

        </li>

        <li class="day"><h3>20</h3><span>ago</span></li>
        <li class="day"><h3>21</h3><span>ago</span></li>
        <li class="day"><h3>22</h3><span>ago</span></li>
        <li class="day"><h3>23</h3><span>jul</span>

        <ul class="events">
          <li><a href="#" class="event" class="event">Presentación de...</a></li>
        </ul>
        </li>

        <li class="day"><h3>24</h3><span>ago</span></li>
        <li class="day"><h3>25</h3><span>ago</span></li>
        <li class="day last"><h3>26</h3><span>ago</span></li>


        <li class="day"><h3>27</h3><span>ago</span></li>
        <li class="day"><h3>28</h3><span>ago</span></li>
        <li class="day"><h3>29</h3><span>ago</span></li>
        <li class="day"><h3>30</h3><span>ago</span></li>
        <li class="day"><h3>31</h3><span>ago</span></li>
        <li class="day disabled"><h3>1</h3><span>sept</span></li>
        <li class="day disabled last"><h3>2</h3><span>sept</span></li>
      </ul>
  </div>
</div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to "siguiente mes", "#", :class => "down_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
<!-- Agenda -->
