<div id="autocomplete" class="autocomplete" style="display:block; position:relative;">
  <div class="inner">
    <ul class="results">

      <li class="politicians">
      <div class="summary"><h3>Políticos</h3><a href="#">23 encontrados</a></div>
      <ul>
        <li><a href="#" class="avatar medium"><div class="ieframe"></div><img src="/images/temp/avatar_002.png" /></a><a href="#" class="name">Virginia Santana Rodriguez</a><span class="position">Consejera de salud</span> </li>
        <li class="last"><a href="#" class="avatar medium"><div class="ieframe"></div><img src="/images/temp/avatar_003.png" /></a><a href="#" class="name">Virginia Santana Rodriguez</a><span class="position">Consejera de salud</span></li>
      </ul>
      </li>

      <li class="areas">
      <div class="summary"><h3>Áreas</h3></div>
      <ul>
        <li class="last"><a href="#" class="avatar medium"><div class="ieframe"></div><img src="/images/temp/avatar_004.png" /></a><a href="#" class="name">Virginia Santana Rodriguez</a><span class="position">Consejera de salud</span> </li>
      </ul>
      </li>

      <li class="users">
      <div class="summary"><h3>Usuarios</h3><a href="#">213 encontrados</a></div>
      <ul>
        <li><a href="#" class="avatar medium"><div class="ieframe"></div><img src="/images/temp/avatar_005.png" /></a><a href="#" class="name">Virginia Santana Rodriguez</a><span class="position">Consejera de salud</span> </li>
        <li class="last"><a href="#" class="avatar medium"><div class="ieframe"></div><img src="/images/temp/avatar_006.png" /></a><a href="#" class="name">Virginia Santana Rodriguez</a><span class="position">Consejera de salud</span></li>
      </ul>
      </li>

      <li class="contents">
      <div class="summary"><h3>Contenidos</h3></div>
      <a href="#">23 contenidos encontrados</a>
      </li>

    </ul>

  </div>
  <div class="t"></div><div class="f"></div>
</div>
