<div class="article broken-bottom">
<div class="inner">
  <div class="content"></div>
</div>

<div class="t"></div><div class="f"></div>
</div>

<div class="article broken-top">
<div class="inner">
  <div class="content"></div>
</div>

<div class="t"></div><div class="f"></div>
</div>

