<article class="broken-bottom">
<div class="inner">
  <div class="content"></div>
</div>

<div class="t"></div><div class="f"></div>
</article>

<article class="broken-top">
<div class="inner">
  <div class="content"></div>
</div>

<div class="t"></div><div class="f"></div>
</article>

