<article class="activity with_footer">
<div class="inner">
  <div class="left">

    <div class="quotation">
      <blockquote>
        <span class="quote"> Saliendo para el Euskal Encounter. Muchas ganas de asistir la charla de @alorza sobre Open Data.</span>
        <span class="bqstart">&#8220;</span> <span class="bqend">&#8221;</span>
      </blockquote>
      <div class="author"><a href="#">Nagore de los Rios</a> hace 3 días</div>
    </div>

    <div class="comments">
      <div class="count">2 comentarios</div>
      <ul>
        <li>
        <a href="#"><div class="avatar"><img alt="Avatar_002" src="/images/temp/avatar_002.png" /></div></a>
        <blockquote>¿A quién me tengo que dirigir para obtener mas información sobre las ayudas para estudiantes universitarios?</blockquote>
        <div class="footer when"><a href="#">Virginia Uriarte</a> hace 2 horas</div>
        </li>
        <li>
        <a href="#"><div class="avatar"><img src="/images/temp/avatar_004.png" /></div></a>
        <blockquote>¿Alguien sabe si habrá streaming del evento?</blockquote>
        <div class="footer when"><a href="#">Alberto Ortiz</a> hace 21 días</div>
        </li>
        <li class="comment">
        <form action="" method="get" accept-charset="utf-8">
          <a href="#"><div class="avatar"><img src="/images/temp/avatar_004.png" /></div></a>
          <div class="textarea-comment placeholder">
            <textarea></textarea>
            <span class="holder">¿Algo que decir?... comenta este tweet</span>
          </div>

          <input type="submit" value="Comentar" class="white_button blue right">
        </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/demo/sharing" %>
      <%= render "shared/demo/previously" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to "volver", "#", :class => :left_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>



