
<article class="activity with_footer">
<div class="inner">
  <div class="left">

    <div class="quotation">
      <blockquote>
        <span class="quote"> Saliendo para el Euskal Encounter. Muchas ganas de asistir la charla de @alorza sobre Open Data.</span>
        <span class="bqstart">&#8220;</span> <span class="bqend">&#8221;</span>
      </blockquote>
      <div class="author"><a href="#">Nagore de los Rios</a> hace 3 días</div>
    </div>

    <%= render "shared/demo/tweet_comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/demo/sharing" %>
      <%= render "shared/demo/previously" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to "volver", "#", :class => :left_arrow %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
