<!-- Map -->
<div class="article with_footer">
<div class="inner">
  <header>
  <div class="left"><h2>Agenda</h2></div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><a href="#" class="view_calendar">ver calendario</a></li>
      <li><a href="#" class="view_map">ver mapa</a></li>
    </ul>

  </div>
  </header>
  <div class="content">
    <div id="map_canvas" class="map"></div>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left"></div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</div>
<!-- / Map -->

