<article class="micro">
<div class="inner">
  <div class="content">
    <a href="#" class="white_button login"><span>Login</span></a>
  </div>
</div>
<span class="close"></span>
<div class="t"></div><div class="f"></div>
</article>

<article class="micro">
<div class="inner">
  <div class="content">
  </div>
</div>
<span class="close"></span>
<div class="t"></div><div class="f"></div>
</article>
