<article>
<div class="inner">
  <div class="content">

    <!-- sharebox -->
    <div class="sharebox" style="clear:both; margin-bottom:20px">
      <div class="input_field placeholder">
        <input type="text" value="" />
        <span class="holder">Escribe la dirección de email</span>
      </div>
      <input type="submit" value="Enviar" />
      <div class="arrow"></div>
    </div>
    <!-- //sharebox -->

    <!-- sharebox -->
    <div class="sharebox" style="clear:both; margin-bottom:20px">
      <ul>
        <li><div class="share twitter"></div></li>
      </ul>
      <div class="arrow"></div>
    </div>
    <!-- //sharebox -->

    <!-- sharebox -->
    <div class="sharebox" style="clear:both; margin-bottom:20px">
      <ul>
        <li><div class="share twitter"></div></li>
        <li><div class="share facebook"></div></li>
      </ul>
      <div class="arrow"></div>
    </div>
    <!-- //sharebox -->

    <!-- sharebox -->
    <div class="sharebox" style="clear:both;">
      <ul>
        <li><div class="share email"></div></li>
        <li><div class="share twitter"></div></li>
        <li><div class="share facebook"></div></li>
        <li><div class="share email"></div></li>
        <li><div class="share facebook"></div></li>
        <li><div class="share twitter"></div></li>
        <li><div class="share more"></div></li>
        <li><div class="share more"></div></li>
        <li><div class="share more"></div></li>
      </ul>
      <div class="arrow"></div>
    </div>
    <!-- //sharebox -->

  </div>
</div>
<div class="t"></div><div class="f"></div>
</article>
