<% content_for :header do %>
  <%= link_to 'Volver', "#", :class => "white_button left" %>
  <h2>Pregunta</h2>
<% end %>

<% content_for :title do %>
  <div class="header">
    <h1>Comprando leche para los niños. Esto cada vez está mas caro!</h1>
    <div class="footer"><a href="#">Andrés Berzoso</a> hace 3 horas</div>
    <div class="shadow"></div>
  </div>
<% end %>

<div class="paper">
  <textarea>Bacon ipsum dolor sit amet est magna cillum ut. Prosciutto id short ribs, jowl deserunt bresaola cupidatat ball tip turducken. Velit dolore cupidatat officia kielbasa, boudin aute deserunt pork chop turkey leberkase spare ribs laborum sirloin meatloaf. Tenderloin flank labore meatball, in duis ham minim ad ground round nulla. Culpa sirloin turducken enim, sausage voluptate spare ribs aliquip brisket officia dolor. Veniam proident andouille, in pastrami turducken sirloin swine tempor enim pork loin aliquip non. Non exercitation tri-tip leberkase swine do.  Flank tongue magna dolore eiusmod pork belly. Sirloin et t-bone, pork chop aliquip incididunt irure short loin velit andouille ut. Flank meatloaf do pork loin, pariatur fatback et consequat ball tip turducken pastrami ullamco cow. Laboris ham cow consectetur pork chop tail labore commodo. Dolor quis sint, in ut commodo adipisicing elit pork biltong. Duis rump strip steak tri-tip, sausage ut pork chicken aliquip ground round kielbasa officia salami adipisicing meatloaf. Ut consectetur cillum, pork belly swine meatball tongue laboris sausage.</textarea>
</div>
