<% content_for :header do %>
  <header>
  <%= link_to 'Volver', "#", :class => "white_button left" %>
  <h2>4 preguntas</h2>
  <%= link_to 'Editar', "#", :class => "icon edit" %>
  </header>
<% end %>

<% content_for :title do %>
  <div class="header">
    <h1>Comprando leche para los niños. Esto cada vez está mas caro!</h1>
    <div class="footer"><a href="#">Andrés Berzoso</a> hace 3 horas</div>
  </div>
<% end %>
<div id="main" class="<%= controller_name %> <%= action_name %>">
  <div class="content">

    <ul class="menu">
      <li><a href="#" class="checkin">checkin</a></li>
      <li><a href="#" class="comment">publicación</a></li>
      <li><a href="#" class="photo">foto/vídeo</a></li>
    </ul>

    <div class="article">
      <div class="inner">
        <div class="content">

          <ul class="counters">
            <li><strong>04</strong>preguntas por contestar</li>
            <li><strong>06</strong>contenidos comentados</li>
            <li><strong>11</strong>nuevas etiquetas</li>
          </ul>

          <ul class="filter">
            <li class="selected"><a href="#">recientes primero</a></li>
            <li><a href="#">antiguos primero</a></li>
          </ul>

          <ul>
            <li>
            <p><a href="irekia://camera">Test the camera</a></p>
            <div class="footer"> Hace 12 minutos </div>
            </li>
            <li>
            <p>4 nuevos argumentos en la propuesta: <a href="/">“¿Cúando va a ser efectiva la ayuda para estudiantes universitarios en 2011?”</a></p>
            <div class="footer"> Hace 12 minutos </div>
            </li>
            <li>
            <p>Propuesta: <a href="#">“¿Cúando va a ser efectiva la ayuda para estudiantes universitarios en 2011?”</a></p>
            <div class="footer"> Hace 12 minutos </div>
            </li>
            <li>
            <p>4 nuevos argumentos en la propuesta: <a href="#">“¿Cúando va a ser efectiva la ayuda para estudiantes universitarios en 2011?”</a></p>
            <div class="footer"> Hace 12 minutos </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    </div>


    <div class="loader">
      <a href="#">Cargando mas contenidos</a>
    </div>

  </div>
</div>
