<%= render :partial => "welcome" %>
<%#= render :partial => "floating_question" %>
<%= render :partial => "micro_box" %>
<%= render :partial => "password_reset" %>
<%= render :partial => "floating_login" %>
<%= render :partial => "questions" %>
<%= render :partial => "map" %>
<%= render :partial => "agenda" %>
<%= render :partial => "intro" %>
<%= render :partial => "menu" %>
<%= render :partial => "activity" %>
<%= render :partial => "suggestions" %>
<%= render :partial => "profile" %>
<%= render :partial => "static" %>

