<% if current_user %>
<div class="article thin signup change_password with_form with_footer">
  <div class="inner">
    <div class="content">
      <h1>Cambiar contraseña</h1>
      <%= form_for current_user, :html => {:novalidate => 'novalidate'} do |form| %>
      <fieldset>

        <div class="field pull-left">
          <label>Nueva contraseña</label>
          <div class="input_field">
            <input type="password" name="password" />
          </div>
        </div>

        <div class="field pull-right">
          <label>Repetir contraseña</label>
          <div class="input_field">
            <input type="password" name="password" />
          </div>
        </div>
      </fieldset>

      <% end %>
    </div>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="center">
        <a href="#" class="white_button center"><span>Guardar</span></a>
      </div>
    </div>
  </div>

  <div class="t"></div><div class="f"></div>
</div>
<% end %>

<div class="article">
  <div class="inner">
    <div class="content">

      <a href="#" class="demo_upload">Upload</a>


      <a href="#" class="white_button"><span>This is a test button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button pink"><span>Pink button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button orange"><span>Orange button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button green"><span>Green button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button in_favor"><span>In favor button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button in_favor selected"><span>In favor selected button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button against"><span>Against button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button against selected"><span>Against selected button</span></a> <div class="demo_separator"></div>
      <a href="#" class="white_button remove"><span>Remove button</span></a>
      <div class="demo_separator"></div>

      <%= content_tag :button, :type => 'submit', :class => "white_button add_person" do %>
      <%= raw (content_tag :span, (content_tag(:span, '', :class => 'add') + "Follow me" )) %>
      <% end %>
      <div class="demo_separator"></div>

      <%= content_tag :button, :type => 'submit', :class => "white_button remove_person" do %>
      <%= raw (content_tag :span, (content_tag(:span, '', :class => 'remove') + "Remove me" )) %>
      <% end %>

      <div class="demo_separator"></div>
      <button class="white_button against" type="submit"><span>Against
          button</span></button>
      <div class="demo_separator"></div>
      <button class="white_button" type="submit"><span>normal button</span></button>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<div class="article">
  <div class="inner">
    <div class="content">

      <a href="#" class="load-popover">Load popover</a>

    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<div id="uploader-popover" class="article popover _initialy_hidden">
  <div class="inner clearfix">
    <%
    @proposal                  = Proposal.new
    @proposal_data             = @proposal.build_proposal_data
    @proposal_data.image       = @proposal_data.build_image
    %>

    <%= form_for @proposal, :remote => true, :html => {:class => "clearfix", :'data-type' => 'html', :id => "uploader"} do |form| %>
    <div class="content clearfix" style="height:210px">
      <div class="image_cache_name"></div>
      <div class="avatar_box" style="width:100px; height:200px;
        background:#f1f1f1"></div>
      <%= form.fields_for :proposal_data, @proposal_data do |proposal_data| %> <% end %>
      <a href="#" data-url="/es/fotos" id="file_uploader">Upload</a>
      <% end %>
    </div>



  </div>
  <div class="t"></div><div class="f"></div>
</div>
