<div class="article activity with_footer">

  <div class="inner">
    <div class="left">

      <div class="context">
        <h3>Noticia</h3>
      </div>

      <h1>El Gobierno Vasco aprueba los Presupuestos generales para 2010.</h1>
      <p class="subtitle"><strong>El IVA sube de esta forma. El Consejo de Ministros extraordinario elimina la ayuda de 400 €. Los Presupuestos serán sometidos a votación en el Congreso el martes. El Gobierno tiene ahora que negociar con los grupos parlamentarios.</strong></p>

      <div class="meta">
        <span class="date">27 de noviembre de 2011</span>
        &middot;
        <span class="comments"><a href="#" class="goto_comments">2</a></span>
      </div>

      <img alt="Content_news_5" src="/uploads/image/image/35/content_news_5.jpg?1322577336" />
      Controvertidos y delicados. Los Presupuestos para el 2010 -los sextos de la era Zapatero- han sido aprobados por el Gobierno en Consejo de Ministros extraordinario -provocado por el viaje a la Asamblea General de la ONU del presidente del Ejecutivo y de la vicepresidenta segunda, Elena Salgado- celebrado este sábado en Madrid. La vicepresidenta Fernández De la Vega ha calificado las nuevas cuentas generales de "realistas", "solidarias" y "equitativas"

      La vicepresidenta Primera del Gobierno, María Teresa Fernández de la Vega, ha sido la primera en intervenir en rueda de prensa. De la Vega ha dicho que los Presupuestos para el próximo año son "austeros" debido a la "difícil coyuntura económica".

      Son "Presupuestos" para "la reactivación de una economía sostenible y la reactivación del empleo".
      <p><a href="/news/15" class="more">Leer noticia completa</a></p>

      <div class="comments">
        <div class="count">2 comentarios</div>
        <ul>
          <li class="clearfix">
          <a href="/users/11" class="avatar " title="Iker Urieta Mendía"><img alt="Thumb_usuario_04" src="/uploads/image/image/27/thumb_usuario_04.jpg?1322577323" /><div class="ieframe"> </div></a>
          <div class="comment">
            <blockquote><p>O sea, a comer huevos, tostadas de pan con pan y un vasito de leche. Iremos andando a trabajar (si tenemos trabajo, claro). Y a las 20 h. a dormir que las velas se nos acabarán.. (creo que tienen el iva reducido...) y creo que la electricidad no esta gravada con un 4%.</p></blockquote>
            <div class="footer when">
              <a href="/users/11" class="author">Iker Urieta Mendía</a> hace 2 días
            </div>
          </div>
          </li>
          <li class="clearfix">
          <a href="/users/10" class="avatar " title="Alejandro Bengoechea Ramirez"><img alt="Thumb_usuario_03" src="/uploads/image/image/26/thumb_usuario_03.jpg?1322577322" /><div class="ieframe"> </div></a>
          <div class="comment">
            <blockquote><p>Eso de que el iva de los productos de primera necesidad no subira no es mas que un cuento chino, el producto subira por que los costes de produccion y transporte se incrementaran con la subida del IVA ¿o es que nos van a decir que el pienso para dar de comer a las gallinas que ponen huevos no le van a aplicar la subida de IVA? o al agricultor en el Agua, fertilizantes y demas??</p></blockquote>
            <div class="footer when">
              <a href="/users/10" class="author">Alejandro Bengoechea Ramirez</a> hace  1 hora
            </div>
          </div>
          </li>

          <li class="comment ">
          <form accept-charset="UTF-8" action="/comments" class="add_comment" data-remote="true" data-type="html" id="new_comment" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="kQF/8/cGgz8pb2ZZvq0KsLCSunSQRyAtJkY0eFCDTyE=" /></div>
            <input id="comment_content_id" name="comment[content_id]" type="hidden" value="15" />
            <img alt="Faceless_avatar" class="avatar " src="/images/icons/faceless_avatar.png?1321952957" title="Invitado" />
            <div class="textarea-comment placeholder">


              <textarea cols="40" id="comment" name="comment[comment_data_attributes][body]" rows="20"></textarea>
              <span class="holder">¿Algo que decir?&hellip; comenta esta noticia</span>

            </div>
            <button type="submit" class="floating-login white_button blue right"><span>Comentar</span></button>
            <span id="comment_spinner" class="spinner"></span>
          </form>    </li>

        </ul>
      </div>


    </div>
    <div class="right">
      <div class="content left-border">

        <ul class="sharing">
          <li><div class="floating-login after_share email"></div>

          <div class="sharebox email">
            <form accept-charset="UTF-8" action="/news/15/shares" class="edit_news" data-remote="true" data-type="html" id="edit_news_15" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="kQF/8/cGgz8pb2ZZvq0KsLCSunSQRyAtJkY0eFCDTyE=" /></div>
              <div class="input_field placeholder">
                <input id="provider" name="provider" type="hidden" value="email" />
                <input autocomplete="off" id="email" name="email" placeholder="" type="text" value="" />
                <span class="holder">Escribe la dirección de email</span>
              </div>
              <span class="spinner" id="share_via_email"></span>
              <input class="share" id="news_submit" name="commit" type="submit" value="Enviar" />
              <div class="arrow"></div>
          </form>  </div>
          </li>

          <li>
          <a href="https://twitter.com/share?text=Irekia - El Gobierno Vasco aprueba los Presupuestos generales para 2010. - http://localhost:3000/news/15" class="share twitter"></a>
          </li>

          <li>
          <a href="#" class="share facebook" name="fb_share" share_url="http://localhost:3000/news/15" type="icon"></a>
          <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
          </script>
          </li>


          <!--
          <li><div class="share more"></div>

          <div class="sharebox">
            <ul>
              <li><div class="share twitter"></div></li>
              <li><div class="share facebook"></div></li>
            </ul>
            <div class="arrow"></div>
          </div>
          </li>
          -->
        </ul>

        <h4>Tags</h4>
        <ul class="tags clearfix">
          <li><a href="/search?search[query]=presupuestos" class="content">presupuestos</a></li>
          <li><a href="/search?search[query]=politica" class="content">politica</a></li>
          <li><a href="/search?search[query]=econom%C3%ADa" class="content">economía</a></li>
          <li><a href="/search?search[query]=2010" class="content">2010</a></li>

        </ul>

        <h4>Políticos etiquetados en la imagen</h4>
        <ul class="people no-border no-padding extra-margin-bottom">
          <li>
          <a href="/users/3" class="avatar small" title="Aitor García Ibarra"><img alt="Thumb_politico_01" src="/uploads/image/image/19/thumb_politico_01.jpg?1322577308" /><div class="ieframe"> </div></a>
          <a href="/users/3" class="name">Aitor García Ibarra</a>
          <span class="position">Viceconsejero</span>


          </li>
          <li>
          <a href="/users/5" class="avatar small" title="Ainara Sanchéz Urkullu"><img alt="Thumb_politico_03" src="/uploads/image/image/21/thumb_politico_03.jpg?1322577311" /><div class="ieframe"> </div></a>
          <a href="/users/5" class="name">Ainara Sanchéz Urkullu</a>
          <span class="position">Viceconsejero</span>


          </li>

        </ul>

 <h3>Descargas</h3>

        <ul class="tabs">
          <li class="first active"><a href="#tab-audio">Audio</a></li>
          <li><a href="#tab-video">Video</a></li>
          <li class="last"><a href="#tab-documents">Documentos</a></li>
        </ul>

        <div class="pill-content">
          <div class="active" id="tab-audio">
            <ul class="playlist">
              <li class="clearfix">
              <div class="icon"></div>
              <a href="/mp3/test.mp3">Intervención de S.A.R.</a>
              <span class="footer">MP3, 23 min., <a href="/mp3/test.mp3" class="exclude download" target="_blank">6.2MB</a></span>
              </li>
              <li class="clearfix">
              <div class="icon"></div>
              <a href="/mp3/test2.mp3">Himno de la Universidad de...</a>
              <span class="footer">MP3, 23 min., <a href="/mp3/test.mp3" class="exclude download" target="_blank">6.2MB</a></span>
              </li>
            </ul>
          </div>
          <div id="tab-video">
            <ul>
              <li class="clearfix">
              <div class="icon pdf"></div>
              <a href="/pdf/" target="_blank">Vídeo de la intervención</a>
              <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
              </li>
              <li class="clearfix">
              <div class="icon pdf"></div>
              <a href="/pdf/" target="_blank">Vídeo de la intervención</a>
              <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
              </li>
              <li class="clearfix">
              <div class="icon pdf"></div>
              <a href="/pdf/" target="_blank">Vídeo de la intervención</a>
              <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
              </li>
            </ul>
          </div>
          <div id="tab-documents">
            <ul>
              <li class="clearfix">
              <div class="icon pdf"></div>
              <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
              <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
              </li>
              <li class="clearfix">
              <div class="icon pdf"></div>
              <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
              <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
              </li>
              <li class="clearfix">
              <div class="icon pdf"></div>
              <a href="/pdf/" target="_blank">Transcripción de la intervención</a>
              <span class="footer">PDF, <a href="#" class="download" target="_blank">6.2MB</a></span>
              </li>
            </ul>

          </div>
        </div>

        <h3>Cobertura por Irekia</h3>
        <p>Imagen, video, audio, streaming</p>

        <h3>Acceso al evento</h3>
        <p>Permitido para medios gráficos</p>


        <h4>Contenidos similares</h4>
        <ul class="related bullets">
          <li><a href="/news/68">Aprobada la Instrucción que regula la imagen corporativa de la Ertzaintza</a>
          <div class="footer">4 minutos &middot; <a href="/news/68#comments">Todavía no hay comentarios</a></div>
          </li>
          <li><a href="/news/67">El reparto de las tareas domésticas sigue siendo desigual entre hombres y mujeres</a>
          <div class="footer">4 minutos &middot; <a href="/news/67#comments">Todavía no hay comentarios</a></div>
          </li>
          <li><a href="/news/66">La Ertzaintza adecúa sus procedimientos de trabajo a la nueva situación que vive Euskadi</a>
          <div class="footer">4 minutos &middot; <a href="/news/66#comments">Todavía no hay comentarios</a></div>
          </li>
        </ul>


        <h3>Cobertura por Irekia</h3>
        <p>Imagen, video, audio, streaming</p>

        <h3>Acceso al evento</h3>
        <p>Permitido para medios gráficos</p>


        <h4>Contenidos similares</h4>
        <ul class="related bullets">
          <li><a href="/news/68">Aprobada la Instrucción que regula la imagen corporativa de la Ertzaintza</a>
          <div class="footer">4 minutos &middot; <a href="/news/68#comments">Todavía no hay comentarios</a></div>
          </li>
          <li><a href="/news/67">El reparto de las tareas domésticas sigue siendo desigual entre hombres y mujeres</a>
          <div class="footer">4 minutos &middot; <a href="/news/67#comments">Todavía no hay comentarios</a></div>
          </li>
          <li><a href="/news/66">La Ertzaintza adecúa sus procedimientos de trabajo a la nueva situación que vive Euskadi</a>
          <div class="footer">4 minutos &middot; <a href="/news/66#comments">Todavía no hay comentarios</a></div>
          </li>
        </ul>


      </div>
    </div>
  </div>

  <footer>
  <div class="separator"></div>
  <div class="inner">

    <div class="left">
      <a href="/in_development" class="left_arrow">volver</a>
    </div>

  </div>
  </footer>
  <div class="t"></div><div class="f"></div>
</div>
