<div class="slideshow">
  <div class="inner_slideshow">
    <ul class="contents">
      <li class="video section">
      <iframe src="http://player.vimeo.com/video/31836098?title=0&amp;byline=0&amp;portrait=0&amp;color=D8DF00" width="610" height="343" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

      <div class="caption">
        <p><strong>Visita a Basque Culinary Center</strong> | Cocina del Basque Culinary Center. (1)</p>
        <p class="source">Foto: EFE</p>
      </div>

      <textarea>&lt;iframe src="http://player.vimeo.com/video/27046366?title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;color=ffffff" width="610" height="343" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen&gt;&lt;/iframe&gt;</textarea>

      <div class="options">
        <a href="#" class="handle"></a>
        <div class="inner_options">
          <ul>
            <li class="embed"><a href="#">Embeber video</a></li>
            <li class="download"><a href="/images/temp/movie.mpeg" target="_blank">Descargar (mpeg, 24mb)</a></li>
          </ul>
        </div>
      </div>

      </li>

      <!-- Photo -->
      <li class="photo section">
      <img src="/images/slideshow/001.jpg" />

      <div class="caption">
        <p><strong>Visita a Basque Culinary Center</strong> | Cocina del Basque Culinary Center. (2)</p>
      </div>
      </li>
      <!-- /Photo -->


      <!-- Photo -->
      <li class="photo section">
      <img src="/images/slideshow/002.jpg" />
      <div class="caption">
        <p><strong>Visita a Basque Culinary Center</strong> | Cocina del Basque Culinary Center. (3)</p>
      </div>
      </li>
      <!-- /Photo -->

      <!-- Video -->
      <li class="video section">
      <iframe src="http://player.vimeo.com/video/31836098?title=0&amp;byline=0&amp;portrait=0&amp;color=D8DF00" width="610" height="343" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      <div class="caption">
        Visita a Basque Culinary Center | Cocina del Basque Culinary Center. (4)
      </div>
      <textarea>&lt;iframe src="http://player.vimeo.com/video/27046366?title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;color=ffffff" width="610" height="343" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen&gt;&lt;/iframe&gt;</textarea>
      <div class="options">
        <a href="#" class="handle"></a>
        <div class="inner_options">
          <ul>
            <li class="embed"><a href="#">Embeber video</a></li>
            <li class="download"><a href="/images/temp/movie.mpeg" target="_blank">Descargar (mpeg, 24mb)</a></li>
          </ul>
        </div>
      </div>
      </li>
      <!-- /Video -->

      <!-- Photo -->
      <li class="photo section">
      <img src="/images/slideshow/003.jpg" />
      <div class="caption">
        <p><strong>Visita a Basque Culinary Center</strong> | Cocina del Basque Culinary Center. (5)</p>
      </div>
      </li>
      <!-- /Photo -->

    </ul>

    <ul class="selector">
      <li class="video selected"><a href="#">Videos <sup>(0/0)</sup></a></li>
      <li class="photo"><a href="#">Fotos <sup>(0/0)</sup></a></li>
    </ul>

    <div class="slideshow_controls">
      <a href="#" class="prev disabled"></a>
      <a href="#" class="next"></a>
    </div>

    <ul class="navigation"></ul>

    <div class="embed_window">
      <a href="#" class="close"></a>

      <div class="input_field textarea">
        <textarea id="embed_code" onfocus="this.select()" onclick="this.select()" readonly="readonly"></textarea>
      </div>
      <div class="footer">Usa este código para compartir el vídeo.</div>
    </div>

  </div>
</div>
