<article class="user publish with_footer">
<div class="inner clearfix">
  <div class="content">

    <h2>Publicar</h2>
    <p>¡Elige el tipo de contenido, y compártelo con el resto de los usuarios!</p>

    <%= menu ([
    { :link => (link_to t(".question"), "#"), :class => :selected},
    { :link => (link_to t(".proposal"), "#") }
    ]) %>

    <div class="container">
      <div class="inner_container clearfix">

        <!-- QUESTION -->
        <div class="section question">
          <div class="triangle"></div>
          <div class="form clearfix">

            <div class="input_field placeholder textarea">
              <textarea></textarea>
              <span class="holder">Introduce el texto que quieras publicar aquí.</span>
            </div>

            <div class="extra">
              <strong>¿A QUIÉN LE QUiERES DIRIGIR LA PREGUNTA?</strong>
              <div class="input_field placeholder">
                <input type="text" />
                <span class="holder">Buscar por nombre...</span>
              </div>
            </div>
          </div>

          <div class="success message">
            <div class="icon"></div>
            <h2>Tu pregunta ha sido enviada</h2>
            <p>En cuanto nuestros moderadores la aprueben, te notificaremos su publicación mediante email.</p>
          </div>

          <div class="error message">
            <div class="icon"></div>
            <h2>Error</h2>
            <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
          </div>
        </div>


        <!-- VIDEO -->
        <div class="section video">
          <div class="triangle"></div>
          <div class="form clearfix">
            <ul class="clearfix">
              <li class="youtube selected">
              <a href="#" class="radio selected"></a>
              <div class="logo"></div>
              <div class="input_field placeholder">
                <input type="text" />
                <span class="holder">URL de Youtube</span>
              </div>
              </li>

              <li class="vimeo">
              <a href="#" class="radio"></a>
              <div class="logo"></div>
              <div class="input_field placeholder">
                <input type="text" />
                <span class="holder">URL de Vimeo</span>
              </div>
              </li>

            </ul>
          </div>

        <div class="success message">
          <div class="icon"></div>
          <h2>Tu video ha sido importado</h2>
          <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
        </div>

        <div class="error message">
          <div class="icon"></div>
          <h2>Error</h2>
          <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
        </div>
        </div>


        <!-- PROPOSALS -->
        <div class="section proposal">
          <div class="triangle"></div>
          <div class="form clearfix">

            <div class="input_field placeholder">
              <input type="text" />
              <span class="holder">Título de la propuesta</span>
            </div>

            <div class="input_field placeholder">
              <input type="text" />
              <span class="holder"><span>Introduce la URL de la foto o</span> <span class="upload" id="upload_proposal">Sube una nueva</span></span>
            </div>

            <div class="input_field placeholder textarea">
              <textarea></textarea>
              <span class="holder">Describe la propuesta en pocas palabras</span>
            </div>
          </div>

          <div class="success message">
            <div class="icon"></div>
            <h2>Tu video ha sido importado</h2>
            <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
          </div>

          <div class="error message">
            <div class="icon"></div>
            <h2>Error</h2>
            <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
          </div>

        </div>

      <!-- LINK -->
      <div class="section link clearfix">
        <div class="triangle"></div>

        <div class="form clearfix">
          <div class="input_field placeholder">
            <input type="text" />
            <span class="holder">Introduce la URL que quieres compartir.</span>
          </div>
        </div>

        <div class="success message">
          <div class="icon"></div>
          <h2>Tu video ha sido importado</h2>
          <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
        </div>

        <div class="error message">
          <div class="icon"></div>
          <h2>Error</h2>
          <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
        </div>

      </div>

      <!-- EVENT -->
      <div class="section event">
        <div class="triangle"></div>
        <div class="form clearfix">
          <div class="input_field placeholder">
            <input type="text" />
            <span class="holder">Introduce el título del evento</span>
          </div>

          <p>Se celebrará el próximo</p>

          <div class="input_field placeholder">
            <input type="text" />
            <span class="holder">Introduce el nombre del lugar o <a href="#">márcalo en el mapa</a></span>
          </div>
        </div>

        <div class="success message">
          <div class="icon"></div>
          <h2>Tu video ha sido importado</h2>
          <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
        </div>

        <div class="error message">
          <div class="icon"></div>
          <h2>Error</h2>
          <p>Haz click en publicar y en la siguiente pantalla podrás añadir tags o etiquetar personas que aparecen en el.</p>
        </div>

      </div>



    </div>
  </div>

</div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <div class="checkbox_button facebook"><a href="#" class="checkbox"><div class="icon"></div> </a></div>
    <div class="checkbox_button twitter"><a href="#" class="checkbox"><div class="icon"></div> </a></div>
  </div>
  <div class="right">
    <a href="#" class="white_button pink publish right disabled"><span>Continuar</span></a>
    <span class="spinner" id="publish_spinner"></span>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
