<div class="article thin with_footer with_remark connect signup">
  <div class="inner">
    <div class="content">
      <h1><%= t('.connect') %></h1>
      <p class="end"><%= t('.works_better') %></p>
    </div>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="center">
        <%= link_to (content_tag :span, t('.continue')), path_for_user(@user), :class => "white_button pink center"  %>
      </div>
    </div>
  </div>

  <div class="remark">
    <%= link_to t('.discover'), '/in_development' %>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
