<article>
<div class="inner">
  <div class="content">
    <h2>Notificaciones</h2>

    <ul class="notifications">
      <li>
      <a href="#" class="letter minimun"></a>
      <div class="content">
        <strong>Mínimas</strong>
        <p>Recibirás los emails estrictamente necesarios para la gestión de tu cuenta.</p>
      </div>
      </li>

      <li class="selected">
      <a href="#" class="letter basics"></a>
      <div class="content">
        <strong>Básicas</strong>
        <p>Recibirás los resultados finales de las propuestas y preguntas en las que has participado.</p>
      </div>
      </li>

      <li class="last">
      <a href="#" class="letter all"></a>
      <div class="content">
        <strong>Todas</strong>
        <p>Te avisaremos también cuando haya novedades en un hilo en el que has participado.</p>
      </div>
      </li>
    </ul>

  </div>
</div>

<div class="t"></div><div class="f"></div>
</article>
