<%
  @actions_description = if viewing_dashboard?
    i18n_scope = 'users.private.show.activity'
    t('subtitle', :link => link_to(t('profiles_or_areas_following', :scope => i18n_scope), followings_user_path(@user, :anchor => :followings )), :scope => i18n_scope)
  end
-%>

<% content_for :header do %>
  <header>
  <%= avatar_image current_user %>
  <h2><%= current_user.name %></h2>
  <%= link_to 'Editar', destroy_user_session_path, :method => 'delete', :class => "icon settings" %>
  </header>
<% end %>

<% if @actions.present? %>
	<%= render "shared/actions", :title => t(viewing_dashboard?? 'show.activity.title' : 'actions.title', :scope => "users.#{@viewing_access}"), :description => @actions_description %>
<% end %>
