<h4>Contestada por</h4>
<ul class="people no-border no-padding">
  <li>
  <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_002.png" /></div></a>
  <%= link_to "Virginia Uriarte Rodriguez", "#", :class => :name %>
  <span class="position">Consejera</span>
  </li>
</ul>
