<h4>Políticos etiquetados en la imagen</h4>
<ul class="people no-border no-padding extra-margin-bottom">
  <li>
  <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_002.png" /></div></a>
  <%= link_to "Virginia Uriarte Rodriguez", "#", :class => :name %>
  <span class="position">Consejera</span>
  </li>
  <li>
  <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_003.png" /></div></a>
  <%= link_to "Virginia Uriarte Rodriguez", "#", :class => :name %>
  <span class="position">Consejera</span>
  </li>
  <li>
  <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_004.png" /></div></a>
  <%= link_to "Virginia Uriarte Rodriguez", "#", :class => :name %>
  <span class="position">Consejera</span>
  </li>
  <li class="add">
  <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_004.png" /></div></a>
  <%= link_to "¿Etiquetarte en este evento?", "#", :class => :add %>
  </li>
</ul>
