<ul class="sharing">
  <li><div class="share email"></div>

  <div class="sharebox email">
    <div class="input_field placeholder">
      <input type="text" value="" />
      <span class="holder">Escribe la dirección de email</span>
    </div>
    <input type="submit" value="Enviar" />
    <div class="arrow"></div>
  </div>

  </li>
  <li><div class="share twitter"></div></li>
  <li><div class="share facebook"></div></li>
  <li><div class="share more"></div>

  <div class="sharebox">
    <ul>
      <li><div class="share twitter"></div></li>
      <li><div class="share facebook"></div></li>
    </ul>
    <div class="arrow"></div>
  </div>
  </li>
</ul>
