<h4>Otras propuestas similares</h4>
<ul class="proposals">
  <li><%= link_to "Reducir el precio del transporte interurbano para jubilados", "#" %> <div class="footer">Hace 2 días &middot; <span class="against">83% en contra (123 votos)</span></div> </li>
  <li><%= link_to "Reducir el precio del transporte interurbano para jubilados", "#" %> <div class="footer">Hace 2 días &middot; <span class="against">83% en contra (123 votos)</span></div> </li>
  <li><%= link_to "Reducir el precio del transporte interurbano para jubilados", "#" %> <div class="footer">Hace 2 días &middot; <span class="agree">53% a favor (123 votos)</span></div> </li>
</ul>
