    <div class="article">
      <div class="inner">
        <div class="content">

          <ul class="counters">
          <li><strong><%= current_user.answer_requests.count %></strong>preguntas<br />por contestar</li>
            <li><strong>06</strong>contenidos comentados</li>
            <li><strong>11</strong>nuevas etiquetas</li>
          </ul>

        <% if @actions.present? %>
          <%= render 'shared/actions_list' %>
        <% end %>

        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    </div>

    <div class="loader">
      <a href="#">Cargando mas contenidos</a>
    </div>
