<ul>
  <% if @actions.count > 0 %>
    <% @actions.each do |action| %>
      <li class="<%= action.event_type %>">
      <%= render "shared/lists_elements/#{action.event_type}", :data => action.item %>
      </li>
    <% end %>
  <% else %>
    <li>&nbsp;</li>
  <% end %>
</ul>
