    <div class="article">
      <div class="inner">
        <div class="content">

        <% if @actions.present? %>
          <%= render 'shared/actions_list' %>
        <% end %>

        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    </div>

    <div class="loader">
    <%= link_to t(".reload"), root_path(:datalogger => true) %>
    </div>
