    <div class="article">
      <div class="inner">
        <div class="content">

        <ul class="counters">
        <li><%= raw t(".unanswered_questions", :count => @unanswered_questions_count, :link => questions_user_path(@user)) %></li>
        <li><strong>06</strong>contenidos comentados</li>
        <li><strong>11</strong>nuevas etiquetas</li>
        </ul>

        <% if @actions.present? %>
          <%= render 'shared/actions_list' %>
        <% end %>

        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    </div>

    <div class="loader">
    <%= link_to t(".reload"), root_path(:datalogger => true) %>
    </div>
