    <div class="article">
      <div class="inner">
        <div class="content">

        <ul class="counters">
          <li><strong><%= link_to @unanswered_questions_count, questions_user_path(@user) %></strong>preguntas<br />por contestar</li>
        <li><strong>06</strong>contenidos comentados</li>
        <li><strong>11</strong>nuevas etiquetas</li>
        </ul>

        <% if @actions.present? %>
          <%= render 'shared/actions_list' %>
        <% end %>

        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    </div>

    <div class="loader">
    <%= link_to "Recargar página", root_path  %>
    </div>
