<ul>
  <% if @actions.count > 0 %>
    <% @actions.each do |action| %>
      <li class="<%= action.event_type %>">
        <%= render "shared/lists_elements/#{action.event_type}", :data => action.item, :inline => true %>
      </li>
    <% end %>
  <% else %>
    <span class="empty">No hay contenido en este área.</span>
  <% end %>
</ul>
