<div id="event-popover" class="article event publish popover initialy_hidden with_footer">
  <div class="inner clearfix">
    <div class="content">

      <h2>Localización del evento</h2>

      <div class="container">
        <div class="inner_container clearfix">
          <div class="input_field placeholder">
            <input type="text" />
          </div>
          <div class="map"></div>
        </div>
      </div>
    </div>
  </div>

  <footer>
  <div class="separator"></div>
  <div class="inner">
    <div class="left"> </div>
    <div class="right">
      <a href="#" class="white_button pink publish right"><span>Cambiar</span></a>
      <span class="spinner" id="publish_spinner"></span>
    </div>
  </div>
  </footer>
  <div class="t"></div><div class="f"></div>
</div>
