<% if @proposals.size > 0%>
  <ul>
    <% @proposals.each do |proposal| %>
      <%= render_list_element(proposal, proposal.class.name, :path_suffix => (defined?(mini) && proposal.is_a?(Proposal)) ? '_mini' : '') %>
    <% end -%>
  </ul>
<% else %>
  <span class="empty">No hay propuestas en este área.</span>
<% end %>
