<% questions_collection = defined?(questions) ? questions : @questions -%>
<ul>
  <% questions_collection.each do |question| %>
    <li class="question">
      <%= render "shared/lists_elements/question", :data => question %>
    </li>
  <% end %>
</ul>
