<ul>
  <% (defined?(questions) ? questions : @questions).each do |question| %>
    <li class="question">
      <%= render "shared/lists_elements/question#{'_mini' if defined?(mini)}", :data => question %>
    </li>
  <% end %>
</ul>
