<%= avatar data.author %>

<div class="content">
  <p><%= raw(t(".title.#{am_I?(data.author) ? 'you' : 'other'}", :author => data.author.name, :question => content_tag(:strong, data.question_text))) %></p>

  <p class="excerpt">

  <%= %Q{"#{data.answer_text}"} %>

  <%= render 'shared/lists_elements/not_moderated/footer', :data => data %>
</div>
