<%= avatar data.area %>
<div class="content">
  <p><strong><%= translate_field(data, 'title') %></strong></p>
  <p class="excerpt"><%= strip_tags raw(truncate(translate_field(data, 'body').try(:strip), :length => 66))  %></p>

  <%= render 'shared/lists_elements/not_moderated/footer', :data => data %>
</div>
