<%= avatar data.author, :small %>

<div class="content">
  <p><strong><%= translate_field(data, 'title').truncate(60) %></strong></p>

  <%= render 'shared/lists_elements/not_moderated/footer', :data => data %>
</div>
