<% if (data.percent_in_favor==50 || data.participation==0)
    position = "neutral"
  else
    position = data.percent_in_favor > data.percent_against ? "in_favor" : "against"
  end
%>

<%= content_tag :span, raw("<strong>#{data.percentage}<span class='percentage'>%</span></strong><span>#{t("." + position )}</span>"), :class => "icon #{ position }" %>
  <div class="content">

  <p>
    <%= t(".title.#{am_I?(data.author) ? 'you' : 'other'}", :name => data.author.name) %>
    <%= content_tag 'strong', content_tag(:span, '"' + data.send("title_#{I18n.locale}") + '"') %>
  </p>

  <%= render 'shared/lists_elements/not_moderated/footer', :data => data %>
</div>
