<%= avatar data.author %>
<div class="content">
  <blockquote><a href="<%= status_message_path(data.id) %>"><span class="bqstart">&#8220;</span><span class="quote"><%= data.message %><span class="bqend">&#8221;</span></span></a></blockquote>

  <%= render 'footer', :data => data %>
</div>
