<div class="article thin byebye with_footer">
  <div class="inner">
    <h1><%= t(".title") %></h1>
    <%= raw t(".description", :url => root_url ) %>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="left">
        <a href="/" class="margin_left left_arrow"><%= t(".back") %></a>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
