<!-- <ul>
<% @areas.each do |area| -%>
  <li>
    <%= link_to area.name, area_path(area) %>
  </li>
<% end -%>
</ul> -->


  <article class="participation">
    <div class="wrap">
      <h1>Participa en tu gobierno.</h1>
      <p>Irekia es la plataforma que te permite hacer oir tu voz en la toma de decisiones de Euskadi. Haz tus propuestas, reclama respuestas, contribuye y opina.</p>
      <div class="login_block">
        <p><a href="#">Accede a tu cuenta o</a> <a href="#" class="blue_button">Regístrate ya</a></p>
      </div>
    </div>
  </article>

  <%= render 'shared/actions' %>

  <section class="banners">
    <ul>
      <li><a href="#open_data!" class="open_data">Open data euskadi</a></li>
      <li><a href="#guia_comunicación!" class="guia_com">Guía de comunicación abierta</a></li>
      <li><a href="#opacity!" class="opacity">Transparencia</a></li>
      <li><a href="#open_data!" class="press">Prensa :)</a></li>
      <li class="last"><a href="#open_data!" class="open_data">Open data euskadi</a></li>
    </ul>
  </section>

