<h4><%= link_to data.title, admin_moderation_edit_path(:type => data.type, :id => data.id) %></h4>
<span><%= link_to data.subtitle, admin_moderation_edit_path(:type => data.type, :id => data.id) %></span>
<p><%= link_to data.body, admin_moderation_edit_path(:type => data.type, :id => data.id) %></p>
