<h4><%= link_to translate_field(data, 'title'), admin_moderation_edit_path(:type => data.type, :id => data.id) %></h4>
<span><%= link_to data.subtitle, admin_moderation_edit_path(:type => data.type, :id => data.id) %></span>
<p><%= link_to translate_field(data, 'body'), admin_moderation_edit_path(:type => data.type, :id => data.id) %></p>
