<div class="photo_moderation">
  <h4><%= link_to translate_field(data, 'title'), admin_moderation_edit_path(:type => data.type, :id => data.id) %></h4>
	<% begin %>
		<%= link_to image_tag(data.image.image_url), proposal_path(data.id) %>
		<% rescue %>
	<% end %>
	<p><%= link_to data.body, admin_moderation_edit_path(:type => data.type, :id => data.id) %></p>
</div>
