<% if @show_title -%>
  <h2><%= t(".results.title.#{params[:type].pluralize || 'total'}", :count => @contents_count[:"#{params[:type].try(:pluralize) || 'total'}"]) %></h2>
<% end -%>
<ul>
  <% if @contents.size > 0 %>
    <% @contents.each do |content| %>
      <%= render_list_element(content.item, content.event_type) %>
    <% end %>
  <% else %>
    <li>&nbsp;</li>
  <% end %>
</ul>
