<div class="article">
<div class="inner">
  <div class="content">
    <h2><%= t('.your_search_results') %></h2>
    <%= form_for :search, :url => search_path, :html => {:method => :get, :id => :search} do |f| %>

      <div class="search_box">
        <%= f.text_field :query %>
        <%= f.submit 'Search' %>
      </div>

    <% end %>
  </div>
</div>
<div class="t"></div><div class="f"></div>
</div>
