<%= form_for [:admin, data], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
  <%= form.text_area :message %>
  <div class="actions">
    <%= button t('admin.moderation.items_list_edit.reject'), :class => "reject white_button" %>
    <%= button t('admin.moderation.items_list_edit.validate'), :class => "white_button" %>
  </div>
<% end %>

