<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px"  background="http://localhost:3000/images/mail/rejected.jpg?4343423" style="background-repeat:no-repeat;">
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><h1 style="margin: 0; font-weight:bold; font-size: 24px; color:#465766"><%= @title %></h1></td>
  </tr>
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr> <td width="635px" valign="top"><span style="color: #5E5E5E;">El comentario que dejaste ayer en la noticia “Carril bici en Getxo” ha sido rechazado por los moderadores de Irekia.</span></td> </tr>
  <tr> <td width="635px" height="10px" valign="top"></td> </tr>
  <tr> <td width="635px" valign="top"><span style="color: #5E5E5E;">Tu mensaje era el siguiente:</span></td> </tr>
  <tr> <td width="635px" height="10px" valign="top"></td> </tr>
</table>

<table cellpadding="15px" cellspacing="0" border="0" align="center" width="635px" >
  <tr>
    <td width="635px" valign="top" background="http://localhost:3000/images/mail/question_bkg.jpg" style="border: 1px solid #f0d1b2">
      <span style="color: #5E5E5E;">¿Este tío va a ser el nuevo Consejero de Consumo? Pero si es celíaco.</span>
    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px" >
  <tr> <td width="635px" height="15px" valign="top"></td> </tr>
  <tr><td width="635px" valign="top"><span style="color: #5E5E5E;">Posibles motivos para el rechazo:</span></td></tr>
  <tr> <td width="635px" height="15px" valign="top"></td> </tr>
  <tr><td width="635px" valign="top">
      <ul style="margin: 0 0 25px 17px; padding: 0; list-style:square;">
        <li style="margin: 0 0 5px 0; padding: 0; color: #5E5E5E;">Tu mensaje contenía palabras malsonantes o insultos, o faltaba el respeto a alguna persona o colectivo.</li>
        <li style="margin: 0 0 5px 0; padding: 0; color: #5E5E5E;">Tu mensaje se considera spam, por publicitar un producto o servicio.</li>
        <li style="margin: 0 0 5px 0; padding: 0; color: #5E5E5E;">Tu mensaje no guarda relación con el tema tratado. </li>
      </ul>
  </td></tr>
  <tr><td width="635px" valign="top"><span style="color: #5E5E5E;">Puedes <a href="#" target="_blank" style="color:#1D79B0">leer más sobre el sistema de moderación de Irekia</a>. Si no estás de acuerdo, <a href="#" target="_blank" style="color:#1D79B0">escríbenos</a> y lo hablamos.</span></td></tr>
</table>
