
<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px"  background="http://localhost:3000/images/mail/question.jpg?4343423" style="background-repeat:no-repeat;">
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><h1 style="margin: 0; font-weight:bold; font-size: 24px; color:#465766"><%= @title %></h1></td>
  </tr>
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><span style="color: #5E5E5E;">Tu pregunta</span></td>
  </tr>
  <tr> <td width="635px" height="10px" valign="top"></td> </tr>
</table>

<table cellpadding="15px" cellspacing="0" border="0" align="center" width="635px" >
  <tr>
    <td width="635px" valign="top" background="http://localhost:3000/images/mail/question_bkg.jpg" style="border: 1px solid #f0d1b2">
      <span style="color: #5E5E5E;">Cuándo van a salir las oposiciones para las nuevas plazas de administrativo en la oficina de Correos de Ondarroa? Llevamos dos años ya y aquí nadie nos hace ni caso.</span>
    </td>
  </tr>
</table>


<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px" >
  <tr> <td width="635px" height="20px" valign="top"></td> </tr>
  <tr>
    <td width="635px" valign="top"><span style="color: #5E5E5E;">ha sido contestada por Patxi López, Lehendakari del Gobierno Vasco:</span></td>
  </tr>
  <tr> <td width="635px" height="15px" valign="top"></td> </tr>
</table>

<table cellpadding="15px" cellspacing="0" border="0" align="center" width="635px" >
  <tr>
    <td width="635px" valign="top" background="http://localhost:3000/images/mail/question_bkg.jpg" style="border: 1px solid #f0d1b2">
      <span style="color: #5E5E5E;">Saldrán cuando salgan, con la que tenemos encima es una cosa imposible de saber. Y menos con tanto tiempo de antelación. Lo mejor es que te suscribas a nuestro servicio de alerta de oposiciones.</span>
    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px" >
  <tr> <td width="635px" height="15px" valign="top"></td> </tr>
  <tr>
    <td width="635px" valign="top"><span style="color: #5E5E5E;">¿Qué te parece la respuesta? Puedes comentar la respuesta en Irekia.</span></td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px">
  <tr> <td width="635px" height="20px" valign="top"></td> </tr>
  <tr>
    <td width="635px" valign="top"><h2 style="margin:0"><a href="#" target="_blank" style="font-size:17px; color:#1D79B0">Ver pregunta en Irekia</a></h2></td>
  </tr>
</table>
