<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px"  background="http://192.168.1.153:3000/images/mail/info.jpg?23423432" style="background-repeat:no-repeat;">
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><h1 style="margin: 0; font-weight:bold; font-size: 24px; color:#465766">¿No te acuerdas de tu contraseña?</h1></td>
  </tr>
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><span style="color: #5E5E5E;">Simplemente pulsa el enlace “Regenerar contraseña”. Irekia te pedirá a continuación el nuevo valor.</span></td>
  </tr>
  <tr> <td width="635px" height="20px" valign="top"></td> </tr>
  <tr>
    <td width="635px" valign="top"><h2 style="margin:0"><a href="<%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>" target="_blank" style="font-size:17px; color:#1D79B0">Regenerar contraseña</a></h2></td>
  </tr>
</table>
